//visits, episodes, examinations, appointments
$height: 112px

.aboutPersonality
	//display: block
	margin-left: auto
	margin-right: auto
	width: $main_width
	+bord

.colum
	border: 1px solid $color_blue
	box-sizing: border-box
	border-radius: 2px
	margin-top: 16px
	margin-bottom: 40px
	padding: 16px 40px
	width: $main_width
	display: flex
	align-items: center
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	+bord
	&_foto
		//+width_height(120px, 112px)
		align-self: auto
		flex-basis: 20%
		+bord
	&_PIB
		//align-self: center
		//align-items: center
		flex-basis: 40%
		flex-direction: column
		height: $height
		+bord
		&__text
			display: flex
			+fontOS
			font-size: 16px
			color: #00171F
			margin-bottom: 16px
			+bord
		&_txtdt
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			+bord
			&__text
				display: flex
				+fontOS
				font-size: 16px
				color: #00171F
			&__date
				text-align: center
				border: 1px solid #2E73B3
				box-sizing: border-box
				border-radius: 30px
				+width_height(160px, 40px)
	&_urgent
		display: flex
		height: $height
		flex-basis: 35%
		align-items: center
		justify-content: center
		border-left: 1px solid $color_blue
		+bord
		&__text
			+fontMonts
			font-size: 16px
			line-height: 20px
			text-align: center
			text-transform: uppercase

.foto
	+width_height(120px, 112px)