.calendar
	+bord
	&_head
		display: flex
		align-items: center
		justify-content: flex-start
		+width_height($main_width, 56px)
		background: $top_color_blue
	&_cells
		display: flex
		// align-items: space-between
		justify-content: space-between
		+width_height($main_width, auto)
		margin: auto
		flex-wrap: wrap

.btn_nav
	border: 1px
	// box-shadow: none
	align-content: space-around
	// width: 20px
	// transparent: 100%

.table
	display: table
	align-items: center
	justify-content: space-between
	border-collapse: separate
	border-spacing: 2px

.cell
	// flex-wrap: nowrap
	+width_height(129px, 114px)
	display: flex
	// height: 114px
	border: 1px solid $color_blue
	box-sizing: border-box
	border-radius: 8px
	align-items: center
	// justify-content: center
	flex-direction: column
	margin-bottom: 2px
	+bord
	color: $main_text_color
	&:hover
		background: #FFFFFF
		border: 1px solid $color_blue
		box-sizing: border-box
		box-shadow: inset 0px -4px 4px $color_blue
		border-radius: 8px
		color: $color_blue
	&_day
		background: #FFFFFF
		// border: 1px solid $color_blue
		box-sizing: border-box
		// box-shadow: inset 0px -4px 4px $color_blue
		// border-radius: 8p
		+fontOS
		font-weight: bold
		font-size: 24px
		// color: $main_text_color
		padding: 5px
		// &:hover
		// 	background: $color_blue
		// 	// border: 1px solid $color_blue
		// 	box-sizing: border-box
		// 	// box-shadow: inset 0px -4px 4px $color_blue
		// 	// border-radius: 8p
		// 	color: #fff
	&_plan
		display: flex
		justify-content: space-between
		align-items: baseline
		width: 100%
		padding: 0px 5px
		&_img
			+width_height(16px, 16px)
			+bord
		&_numb
			+fontOS
			font-size: 
			+bord
		&_lbl
			+fontOS
			font-size: 12px

			+bord
	&_status
		display: flex
		justify-content: space-between
		width: 100%
		box-sizing: border-box
		padding: 0px 5px
		&_pos
			width: 40%
			+fontOS
			font-size: 12px
			+bord
		&_neg
			width: 50%
			+fontOS
			font-size: 12px
			+bord