=aflex_head
	display: flex
	justify-content: space-between
	align-items: center


.top 
	/*border: 1px solid #969696*/
	display: flex
	align-items: center
	margin: auto
	+bord
	&_first_stripe
		height: 64px
		width: $main_width
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-
		+bord
	&_second_stripe 
		height: 56px
	
.logo 
	display: block
	width: 121px

//new 

// .cont
// 	/*border: 1px solid #969696*/
// 	display: flex
// 	width: $main_width
// 	margin: auto
// 	+bord

.posabs
	position: absolute
	+width_height(100%, 56px)
	z-index: -1
	+bord
	
.stripe
	+width_height(100%, 56px)
	+bord
	&_half
		position: absolute
		z-index: -1
		+width_height(50%, 56px)
		// display: flex
		// background-color: $top_color_blue
		+bord
	&_half_right
		// position: absolute
		// display: flex
		// align-self: flex-start
		// flex-direction: row-reverse
		// justify-content: flex-start
		+width_height(50%, 56px)
		margin-right: 0px
		margin-left: auto
		// background-color: red
		// z-index: 10
		// color: $main_text_color
		+bord

.right
	// display: flex
	// align-self: flex-start
	// align-items: center
	// flex-direction: reverse
	// justify-content: flex-end
	// float: right
	// margin-right: 0px
	// margin-left: auto

.rounded
	display: flex
	align-items: center
	// justify-content: space-between
	+width_height(680px, 56px)
	border-radius: 0 56px 56px 0
	+bord
.rounded_green
	display: flex
	align-items: center
	margin-right: 0px
	margin-left: auto
	// justify-content: space-between
	+width_height(680px, 56px)
	border-radius: 56px 0 0 56px
	+bord


.bkg
	&_blue
		background-color: $top_color_blue
	&_orange
		background-color: $top_color
	&_green
		background-color: $bkg_green	

.green
	color: $text_green


.lbl
	+fontMonts
	font-size: 24px
	align-self: center
	// z-index: 1
	&_consult
		align-self: center
		margin-right: 0px
		margin-left: auto



.find
	display: flex
	align-items: center
	padding-left: 16px
	padding-right: 16px
	border: 1px solid $color_blue
	background: #FFFFFF
	box-sizing: border-box
	border-radius: 30px
	+width_height(280px, 40px)
	&_edit
		width: 100%
		border: none
		+bord

.sort_stripe
	height: 80px
	align-items: center
	justify-content: space-between

.bl
	&_view
		+width_height(64px, 24px)
		+aflex_head
		+bord
	&_sort_name
		+width_height(100px, 24px)
		+aflex_head
		+bord
	&_sort_last
		+width_height(250px, 24px)
		+aflex_head
		+bord
	&_protect
		+width_height(220px, 24px)
		+aflex_head
		+bord
	&_lbl
		+fontOS
		font-size: 16px

.button
	display: inline-flex
	//padding: 15px
	+width_height(24px, 24px)
	+aflex_head
	&_sort
		background: #FFFFFF
	&_sort:hover
		background-color: darken($color_blue, 20%)
		cursor: pointer
	&_sort::after
		background: $color_blue
	&_sort-o
		background: $color_blue
		&:hover
			background-color: darken($color_blue, 20)
			cursor: pointer
		&::after
			background: #FFFFFF
	&_sort-up
	&_sort-down
		transform: rotate(-90deg)
	&_sort-down2
		transform: rotate(-180deg)

.line
	+width_height(100%, 8px)
	// background-color: $top_color_blue
	margin-bottom: 16px
// .new

.rectangle 
	position: absolute
	left: 0
	background-color: $top_color
	+width_height(50%, 56px)
	+bord
	&_blue //pv
		background-color: $top_color_blue
		+bord

.rectangle_rounded
	background-color: $top_color
	border-radius: 0 56px 56px 0
	height: 56px
	+left_block
	+bord
	&_blue //pv
		background-color: $top_color_blue
		+bord

.head
	&_back
		&__blue
			left: 0
			background-color: $top_color_blue
			+width_height(100%, 56px)
		&__orange
			left: 0
			background-color: $top_color
			+width_height(100%, 56px)
	&_container
		display: flex
		width: $main_width
		height: 56px
		margin: auto
		align-items: center
		+bord
	&_button_back
		display: flex
		background: #2E73B3
		border-radius: 2px
		+width_height(40px, 24px)
		+center_block
	&__text
		font-family: 'Montserrat', sans-serif
		font-style: normal
		font-weight: normal
		font-size: 26px
		margin-top: -4px
		color: #00171F

.entrance
	color: $top_color_borders
	padding-left: 25px
	&_blue //pv
		color: $color_blue

.entrance:hover
	cursor: pointer
	color: $top_color_borders
	text-decoration: none
