=center_block
	display: flex
	justify-content: center
	align-items: center

=left_block
	display: flex
	align-items: center
	float: left

=width_height($width, $height)
	width: $width
	height: $height

=bord
	// border: 1px solid #969696

=fontOS
	font-family: Open Sans
	font-style: normal
	font-weight: normal

=fontMonts
	font-family: Montserrat
	font-style: normal
	font-weight: normal
