.overlay 
    top: 0 
    right: 0 
    bottom: 0 
    left: 0 
    z-index: 10 
    display: none 
    // background-color: rgba(0, 0, 0, 0.65) 
    position: fixed 
    cursor: default 
    &:target 
        display: block 
        & + .popup 
            -webkit-transform: translate(-50%, 0) 
            -ms-transform: translate(-50%, 0) 
            -o-transform: translate(-50%, 0) 
            transform: translate(-50%, 0) 
            top: 20% 
.popup 
    top: -100% 
    right: 0 
    left: 50% 
    font-size: 14px 
    z-index: 20 
    margin: 0 
    width: 85% 
    min-width: 600px 
    max-width: 850px 
    position: fixed 
    padding: 15px 
    border: 1px solid $color_blue_backgrnd
    // background: #fefefe 
    background: $color_blue_backgrnd
    -webkit-border-radius: 2px 
    -moz-border-radius: 2px 
    -ms-border-radius: 2px 
    border-radius: 2px 
    font: 14px/18px 'Tahoma', Arial, sans-serif 
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
    -moz-box-shadow:  0px 4px 20px rgba(0, 0, 0, 0.2)
    -ms-box-shadow:  0px 4px 20px rgba(0, 0, 0, 0.2)
    box-shadow:  0px 4px 20px rgba(0, 0, 0, 0.2)
    // -webkit-transform: translate(-50%, -500%) 
    // -ms-transform: translate(-50%, -500%) 
    // -o-transform: translate(-50%, -500%) 
    // transform: translate(-50%, -500%) 
    // -webkit-transition: -webkit-transform 0.6s ease-out 
    // -moz-transition: -moz-transform 0.6s ease-out 
    // -o-transition: -o-transform 0.6s ease-out 
    // transition: transform 0.6s ease-out 
    img 
        width: 100% 
        height: auto 
    h2 
        margin: 0 
        color: #008000 
        padding: 5px 0px 10px 
        text-align: left 
        text-shadow: 1px 1px 3px #adadad 
        font-weight: 500 
        font-size: 1.4em 
        font-family: 'Tahoma', Arial, sans-serif 
        line-height: 1.3 
    p 
        margin: 0 
        padding: 5px 0 
.close 
    top: -10px 
    right: -10px 
    width: 20px 
    height: 20px 
    position: absolute 
    padding: 0 
    border: 2px solid #ccc 
    -webkit-border-radius: 15px 
    -moz-border-radius: 15px 
    -ms-border-radius: 15px 
    -o-border-radius: 15px 
    border-radius: 15px 
    background-color: rgba(61, 61, 61, 0.8) 
    -webkit-box-shadow: 0px 0px 10px #000 
    -moz-box-shadow: 0px 0px 10px #000 
    box-shadow: 0px 0px 10px #000 
    text-align: center 
    text-decoration: none 
    font: 13px/20px 'Tahoma', Arial, sans-serif 
    font-weight: bold 
    -webkit-transition: all ease .8s 
    -moz-transition: all ease .8s 
    -ms-transition: all ease .8s 
    -o-transition: all ease .8s 
    transition: all ease .8s 
    &:before 
        color: rgba(255, 255, 255, 0.9) 
        content: "X" 
        text-shadow: 0 -1px rgba(0, 0, 0, 0.9) 
        font-size: 12px 
    &:hover 
        background-color: rgba(252, 20, 0, 0.8) 
        // -webkit-transform: rotate(360deg) 
        // -moz-transform: rotate(360deg) 
        // -ms-transform: rotate(360deg) 
        // -o-transform: rotate(360deg) 
        // transform: rotate(360deg) 
.pic-left, 
.pic-right 
    width: 25% 
    height: auto 
.pic-left 
    float: left 
    margin: 5px 15px 5px 0 
.pic-right 
    float: right 
    margin: 5px 0 5px 15px 
.popup embed, 
.popup iframe 
    top: 0 
    right: 0 
    bottom: 0 
    left: 0 
    display: block 
    margin: auto 
    min-width: 320px 
    max-width: 600px 
    width: 100% 

.popup
    &_block
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        margin: auto
        padding: 16px 0px
        +bord
    &_bl
        width: 25%
        flex-direction: column
        +bord
        &_label_14
            +fontOS
            font-size: 14px
            color: #000000
            margin-left: 6px
            +bord
        &_calendar
            display: flex
            justify-content: space-between
            align-items: center
            background: #FFFFFF
            border: 1px solid $color_blue
            box-sizing: border-box
            border-radius: 8px
            +width_height(100%, 40px)
            padding: 0px 16px
            &_date
                +fontMonts
                font-size: 16px
                text-transform: uppercase
                color: #000000
                width: 70%
                border: none
                +bord
            &_img
                // +width_height(16px, 16px)
                +bord
        &_button
            cursor: pointer
            background: $color_blue
            border-radius: 30px
            border: 1px solid $color_blue
            // box-sizing: border-box
            +width_height(100%, 56px)
            +fontMonts
            font-size: 20px
            text-align: center
            vertical-align: middle
            text-transform: uppercase
            color: #FFFFFF
        &_action
            +width_height(100%, 225px)
            background: #FFFFFF
            border-radius: 8px
            +bord
        &_select // &_popup_field
            +fontOS
            font-size: 16px
            background: #FFFFFF
            border: 1px solid $color_blue
            +width_height(100%, 48px)
            border-radius: 8px
            padding: 5px 16px

.box
    display: flex
    // justify-content: space-between
    // align-items: center
    +width_height (100%, auto)
    margin: auto
    padding: 16px 0px
    +bord
    flex-direction: column
    &_row
        box-sizing: border-box
        display: inline-flex
        flex-direction: row
        justify-content: space-between
        width: 100%
        max-height: 160px
        padding: 16px 16px
        +bord
.mic
    background: #FFFFFF
    +width_height(24px,24px)
    +bord
    &_border
        border: 1px solid $color_blue