@import "variables"

// .tab
// 	// overflow: hidden
// 	// border: 1px solid #ccc
// 	// background-color: #f1f1f1
// 	margin-left: auto
// 	margin-right: auto
// 	align-items: center
// 	width: $main_width
// 	+bord	
// 	display: flex
// 	// justify-content: space-between;

// .tab input 
// 	background-color: #f00	
// 	border: none
// 	outline: none
// 	cursor: pointer
// 	padding: 14px 16px
// 	transition: 2.3s

// .tab button
// 	background-color: #f00	
// 	border: none
// 	outline: none
// 	cursor: pointer
// 	padding: 14px 16px
// 	transition: 2.3s	

// /* Change background color of buttons on hover */
// .tab input:hover 
// 	background-color: #ddd

// /* Create an active/current tablink class */
// .tab input.active 
// 	background-color: #ccc

// .tab button.active 
// 	background-color: #ccc	

// /* Style the tab content */
// .tabcontent 
// 	display: none
// 	// padding: 6px 12px
// 	// border: 1px solid #ccc
// 	// border-top: none

// .input
// 	display: none
// 	&:checked + label
// 		background-color: $color_blue_backgrnd
// 		border: 1px solid $color_blue_backgrnd
// 		position: relative
// 		z-index: 5

// .checked
// 		background-color: $color_blue_backgrnd
// 		border: 1px solid $color_blue_backgrnd
// 		position: relative
// 		z-index: 5

// input[id="tab-1"]:checked ~ .content .tab-1
// 	display: block

// input[id="tab-2"]:checked ~ .content .tab-2
// 	display: block

// input[id="tab-3"]:checked ~ .content .tab-3
// 	display: block

// input[id="tab-4"]:checked ~ .content .tab-4
// 	display: block

// input[id="tab-5"]:checked ~ .content .tab-5
// 	display: block


// .label 
// 	cursor: pointer	
// 	text-align: center
// 	// width: 170px
// 	display: inline-block
// 	padding: 11px 20px
// 	margin: 0
// 	margin-right: -7px
// 	font-size: 16px
// 	background-color: white
// 	border: 1px solid #A5CCF1
// 	border-radius: 28px 28px 0 0
// 	position: relative
// 		// z-index: 0

// .content
// 	position: relative
// 	article
// 		position: absolute
// 		top: 0
// 		left: 0
// 		width: 100%
// 		background-color: $color_blue_backgrnd
// 		padding: 70px 40px
// 		border-top: 5px solid $color_blue_backgrnd
// 		display: none

.tab
	display: none


.link
	padding: 11px 20px
	margin: 0
	margin-right: -7px
	font-size: 16px
	cursor: pointer	
	text-align: center
	background-color: white
	border: 1px solid #A5CCF1
	border-radius: 28px 28px 0 0
	// position: relative
	&.active
		// color: red
		background-color: $color_blue_backgrnd
		border: 1px solid $color_blue_backgrnd
		// position: relative
.link:focus
	outline: none

.tabs
	align-items: center