@import "variables"

.input
	display: none
	&:checked + label
		background-color: $color_blue_backgrnd
		border: 1px solid $color_blue_backgrnd
		position: relative
		z-index: 5

input[id="tab-1"]:checked ~ .content .tab-1
	display: block

input[id="tab-2"]:checked ~ .content .tab-2
	display: block

input[id="tab-3"]:checked ~ .content .tab-3
	display: block

input[id="tab-4"]:checked ~ .content .tab-4
	display: block

.label 
	cursor: pointer	
	text-align: center
	// width: 170px
	display: inline-block
	padding: 11px 20px
	margin: 0
	margin-right: -7px
	font-size: 16px
	background-color: white
	border: 1px solid #A5CCF1
	border-radius: 28px 28px 0 0
	position: relative
		// z-index: 0

.content
	position: relative
	article
		position: absolute
		top: 0
		left: 0
		width: 100%
		background-color: $color_blue_backgrnd
		padding: 70px 40px
		border-top: 5px solid $color_blue_backgrnd
		display: none