@import "mixins"

.label
	padding-left: 17px
	line-height: 22px
	font-size: 17px
	+fontOS
	// margin-top: 28px

.input-field
	width: 280px
	height: 56px
	padding: 0.5em 1.45em 0.7em
	margin: -3px 0px 
	background: #fff
	color: #176FC0
	line-height: 1.45
	outline: none
	transition: .18s ease-out
	box-sizing: border-box
	box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2)
	border: 1px solid #176FC0 
	border-radius: 28px
	border-size: 1em

.input-field:hover 
	box-shadow: inset 0px 0px 0px rgba(23, 111, 192, 0.4)

.input-field:focus 
	color: #176FC0
	border: 1px solid #176FC0
	box-shadow: inset 0px -5px 5px rgba(23, 111, 192, 0.4)

.input-field2
	+width_height(440px, 56px)
	padding: 0.5em 1.45em 0.7em
	margin: -3px 0px 
	background: #fff
	color: #176FC0
	line-height: 1.45
	outline: none
	transition: .18s ease-out
	box-sizing: border-box
	box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2)
	border: 1px solid #176FC0 
	border-radius: 28px
	border-size: 1em

.input-field3 //pv
	+width_height(600px, 56px)
	padding: 0.5em 1.45em 0.7em
	margin: -3px 0px 
	background: #fff
	color: #176FC0
	line-height: 1.45
	outline: none
	transition: .18s ease-out
	box-sizing: border-box
	box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2)
	border: 1px solid #176FC0 
	border-radius: 28px
	border-size: 1em