@import "mixins"
@import "variables"
@import "head"
@import "tabs"

*
	margin: 0
	padding: 0

ul
	list-style: none

body
	background-color: #FFF
	font-weight: normal
	font-size: 16px
	// line-height: 26px
	color: #000000

// a 
// 	color: blue
// 	&:hover
// 		text-decoration: underline
 
.person_name
	display: inline-block
	margin-left: 20px
	width: 400px
	height: 24px
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 23px
	color: #00171F
	+bord

.container
	display: flex
	flex-wrap: wrap
	width: $main_width
	margin: auto
	box-sizing: border-box
	+bord

.main
	flex-direction: column
	background: $color_blue_backgrnd
	border-radius: 2px
	padding: 24px
	+bord


.visit
	&_stripe
		display: inline-flex
		justify-content: space-between
		align-items: center
		+width_height(100%, 88px)
		+bord
	&_label
		+fontOS
		font-size: 16px
		color: $main_text_color
		+bord
	&_date_box
		display: flex
		justify-content: space-between
		align-items: center
		width: 25%
		+bord
	&_calendar
		display: inline-flex
		justify-content: space-between
		align-items: center
		background: #FFFFFF
		border: 1px solid $color_blue
		box-sizing: border-box
		border-radius: 30px
		+width_height(160px, 40px)
		padding: 0px 16px
		&_date
			+fontMonts
			font-size: 16px
			text-transform: uppercase
			color: #000000
			width: 109px
			border: none
	&_button_save
		cursor: pointer
		background: $color_blue
		border-radius: 30px
		border: 1px solid $color_blue
		// box-sizing: border-box
		+width_height(200px, 56px)
		+fontMonts
		font-size: 20px
		text-align: center
		vertical-align: middle
		text-transform: uppercase
		color: #FFFFFF

// .episode
// 	display: flex
// 	box-sizing: border-box
// 	justify-content: space-between
// 	align-items: center
// 	// align-self: flex-end
// 	flex-direction: row
// 	padding: 8px 0px
// 	+bord
// 	&__text
// 		+fontOS
// 		font-size: 16px
// 		+bord
// 	&__button
// 		margin: 24px 20px
// 	&__select
// 		+fontOS
// 		font-size: 16px
// 		background: #FFFFFF
// 		border: 1px solid $color_blue
// 		+width_height(742px, 48px)
// 		border-radius: 8px
// 		padding: 5px 16px


// new style
.border
	&-8
		background: #FFFFFF
		border: 1px solid $color_blue
		box-sizing: border-box
		border-radius: 8px

.font
	&-OS
		&-14
			+fontOS
			font-size: 14px
		&-16
			+fontOS
			font-size: 16px
		&-20
			+fontOS
			font-size: 20px
	&-MS
		&-16
			font-size: 16px
			+fontMonts
		&-20
			font-size: 20px
			+fontMonts

.edit
	// color: #000000
	// border: none
	// +width_height(100%, auto)
	+fontOS
	font-size: 16px
	border: none
	+bord

.img
	+width_height(19px, 37px)
	margin-bottom: 16px

.date
	text-transform: uppercase
	color: #000000
	border: none
	+bord

.date
	width: 110px

// block_small
	// display: flex
	// justify-content: flex-start
	// align-items: flex-start
	// display: flex
	// flex-direction: column
	// +bord

.block_small_date
	// @extend block_small
	display: flex
	flex-direction: column
	+bord
	margin-right: 42px

.block_small_edit
	// @extend block_small
	display: flex
	flex-direction: column
	+bord
	box-sizing: border-box

.block_edit
	display: flex
	justify-content: center
	align-items: center
	background: #FFFFFF
	border: 1px solid #2E73B3
	box-sizing: border-box
	border-radius: 8px
	+width_height(280px, 48px)

.dotline
	border: 1px dotted $color_blue
	width: 100%
	margin: auto
	margin-bottom: 24px



// myrow
// 	display: flex
// 	flex-direction: row
// 	box-sizing: border-box
// 	+bord

.row
	&_date
		// @extend myrow
		display: flex
		flex-direction: row
		box-sizing: border-box
		+bord
		margin-bottom: 24px
	&_edit
		// @extend myrow
		display: flex
		flex-direction: row
		box-sizing: border-box
		+bord
		width: 100%
		margin-bottom: 16px
		justify-content: space-between

// /.new style

.block
	display: flex
	justify-content: flex-start
	align-items: flex-start
	flex-direction: column
	width: 100%
	margin-bottom: 24px
	+bord
	&_label14 //font Open Sans
		+fontOS
		font-size: 14px
		color: #000000
		margin-left: 6px
		+bord
	&_label_16 //font Open Sans
		+fontOS
		font-size: 16px
		color: #4A4D50
		margin-left: 16px
		+bord
	&_select // &_popup_field
		+fontOS
		font-size: 16px
		background: #FFFFFF
		border: 1px solid $color_blue
		+width_height(100%, 48px)
		border-radius: 8px
		padding: 5px 16px
	&_field
		display: flex
		box-sizing: border-box
		justify-content: space-between
		background: #FFFFFF
		border: 1px solid $color_blue
		+width_height(100%, 136px)
		border-radius: 8px
		padding: 8px 16px
		&__text
			+fontOS
			font-size: 16px
			+bord
	&_consult // &_small
		display: flex
		box-sizing: border-box
		justify-content: space-between
		align-items: center
		align-self: flex-end
		margin-top: 40px
		margin-bottom: 30px
		+bord
		width: 430px
		&__select
			margin-left: 8px
			border-radius: 30px
	&_action
		+width_height(100%, 224px)
		background: #FFFFFF
		border-radius: 8px
		+bord
	&_row
		display: flex
		box-sizing: border-box
		justify-content: space-between
		// align-items: center
		// align-self: flex-end
		flex-direction: row
		padding: 8px 16px
		+bord
		&__text
			+fontOS
			font-size: 16px
			+bord
	&_prescribe
		box-sizing: border-box
		+width_height(100%, 468px)
		background: #FFFFFF
		border-radius: 8px
		+bord
	&_name
		width: 560px
		+bord
		&_input
			+fontOS
			font-size: 20px
			background: #FFFFFF
			border: 1px solid $color_blue
			border-radius: 30px
			padding: 0px 16px
			box-sizing: border-box
			+width_height(100%,56px)
	&_type
		width: 240px
		+bord
	&_external
		width: 160px
		+bord
		&_input
			+fontOS
			font-size: 20px
			background: #FFFFFF
			border: 1px solid $color_blue
			box-sizing: border-box
			border-radius: 30px
			+width_height(100%,56px)
			padding: 5px 16px
	&_internal
		width: 160px
		+bord
		&_input
			+fontOS
			font-size: 20px
			background: #FFFFFF
			border: 1px solid $color_blue
			box-sizing: border-box
			border-radius: 30px
			+width_height(100%,56px)
			padding: 5px 16px
	&_line
		border: 1px solid $color_blue
		width: 840px
		margin: auto
	&_close_episode
		margin: 40px 0px
		&_up
			display: flex
			width: 10%
			align-items: center
			justify-content: center
			+bord
		&_button
			+fontMonts
			font-size: 20px
			text-transform: uppercase
			background: #FFFFFF
			border: 1px solid $color_blue
			box-sizing: border-box
			border-radius: 30px
			+width_height(449px, 56px)
			color: $color_blue
			cursor: pointer

.mic
	background: #FFFFFF
	+width_height(24px,24px)
	+bord
	&_border
		border: 1px solid $color_blue

.button_plus
	display: inline-flex
	align-items: center
	justify-content: center
	background: #FFFFFF
	border: 1px solid $color_blue
	+width_height(40px, 40px)
	border-radius: 50%
	cursor: pointer