@import "mixins"
@import "variables"
@import "head"
@import "tabs"

*
	margin: 0
	padding: 0

ul
	list-style: none

body
	background-color: #FFF
	/*background-color: #000	*/
	font-weight: normal
	font-size: 16px
	// line-height: 26px
	// color: #176FC0
a
	text-decoration: none
a:link 
    text-decoration: none
a:visited
	text-decoration: none 
a:active
	text-decoration: none
a:hover
	text-decoration: none

.mg
	margin-top: 40px


.cont
	/*border: 1px solid #969696*/
	display: flex
	width: $main_width
	margin: auto
	+bord

// .main_block
// 	display: flex
// 	flex-direction: column

.calendar
	width: 250px
	display: flex
	flex-direction: column
	// justify-content: center
	align-items: center
	box-sizing: border-box
	+fontOS
	font-size: 20px
	+bord
	&_ch_month
		display: flex
		justify-content: center
		+bord
	&_lbl
		margin: auto 8px
		+bord
	&_line
		+width_height(100%, 2px)
		background-color: $top_color_borders
		margin: 16px
	&_row
		display: flex
		flex-direction: row
		// flex-wrap: nowrap
		// justify-content: space-between
		margin-bottom: 8px
		+bord
		&_active
			display: flex
			flex-direction: row
			// flex-wrap: nowrap
			// justify-content: space-between
			margin-bottom: 8px
			+bord
			background-color: $top_color
			// opacity: 0.5

.day
	display: flex
	justify-content: center
	align-items: center
	// text-align: center
	+width_height(32px, 32px)
	color: $main_text_color
	+bord

.else //day of month
	color: #CCCCCC

.active //day of month
	color: $top_color_borders

.round //day of month
	border: 1px solid $top_color_borders
	border-radius: 50%

.blocks
	display: flex
	box-sizing: border-box
	border: 1px solid $top_color_borders
	flex-wrap: wrap
	justify-content: space-between
	flex-direction: row
	padding: 32px 21px
	&_name
		+width_height(auto, 33px)
		// text-align: center
		// align-content: center
		// vertical-align: center
		align-self: flex-start
		margin-bottom: 8px
		margin-left: 16px
		+fontOS
		font-size: 20px
		+bord

	
.block
	&_day
		box-sizing: border-box
		// +width_height(200px, 200px)
		// border: 1px solid $text_green
		// border-radius: 2px
		display: flex
		flex-direction: column
		// align-items: space-between
		// justify-content: center
		align-items: center
		padding: 0px 16px
		// margin-bottom: 40px
		// margin-right: 30px
		+bord
	&_lbl
		+fontOS
		font-size: 20px
		box-sizing: border-box
		font-weight: bold
		// height: 110px
		// width: 100px
		+bord
	&_hospital
		+width_height(280px, 40px)
		padding: 5px 16px
		+fontMonts
		font-size: 16px
		color: $main_text_color
	&_time
		display: flex
		justify-content: center
		align-items: center
		+width_height(140px, 40px)
		padding: 0px 16px
		+fontMonts
		font-size: 16px
		color: $main_text_color
		margin: auto 8px
	&_color
		display: flex
		justify-content: center
		align-items: center
		+width_height(40px, 40px)
		padding: 0px 16px
		+fontMonts
		font-size: 16px
		color: $main_text_color
		margin: auto 8px
		&_in
			+width_height(12px, 12px)
			background: #87D91F
			// color: #87D91F
			border-radius: 50%
	&_row
		box-sizing: border-box
		display: flex
		margin-top: 16px 
		// text-align: center
		// justify-content: center
		// align-items: center
		// +fontOS
		// font-size: 16px
		// line-height: 26px
		// color: $main_text_color
		// padding: 10px
		// align-content: center
		+bord


.rborder //rounded border
	background: #FFFFFF
	border: 1px solid $color_blue
	box-sizing: border-box
	border-radius: 30px

.btn_add
	+fontMonts
	font-size: 14px
	align-self: start


			
// .small_line
// 	+width_height(100%, 4px)
// 	background-color: $text_green
// 	margin-bottom: 16px

.button_plus
	display: inline-flex
	align-items: center
	justify-content: center
	background: #DE5114
	//text-align: center
	border: 1px solid $color_blue
	+width_height(40px, 40px)
	border-radius: 50%

.overlay 
    top: 0 
    right: 0 
    bottom: 0 
    left: 0 
    z-index: 10 
    display: none 
    // background-color: rgba(0, 0, 0, 0.65) 
    position: fixed 
    cursor: default 
    &:target 
        display: block 
        & + .popup 
            -webkit-transform: translate(-50%, 0) 
            -ms-transform: translate(-50%, 0) 
            -o-transform: translate(-50%, 0) 
            transform: translate(-50%, 0) 
            top: 20% 
.popup 
    top: -100% 
    right: 0 
    left: 50% 
    font-size: 14px 
    z-index: 20 
    margin: 0 
    width: 85% 
    min-width: 500px 
    max-width: 550px 
    position: fixed 
    padding: 15px 
    border: 1px solid #F4CBB9
    // background: #fefefe 
    background: #F4CBB9
    -webkit-border-radius: 2px 
    -moz-border-radius: 2px 
    -ms-border-radius: 2px 
    border-radius: 2px 
    font: 14px/18px 'Tahoma', Arial, sans-serif 
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
    -moz-box-shadow:  0px 4px 20px rgba(0, 0, 0, 0.2)
    -ms-box-shadow:  0px 4px 20px rgba(0, 0, 0, 0.2)
    box-shadow:  0px 4px 20px rgba(0, 0, 0, 0.2)
    // -webkit-transform: translate(-50%, -500%) 
    // -ms-transform: translate(-50%, -500%) 
    // -o-transform: translate(-50%, -500%) 
    // transform: translate(-50%, -500%) 
    // -webkit-transition: -webkit-transform 0.6s ease-out 
    // -moz-transition: -moz-transform 0.6s ease-out 
    // -o-transition: -o-transform 0.6s ease-out 
    // transition: transform 0.6s ease-out 
    img 
        width: 100% 
        height: auto 
    h2 
        margin: 0 
        color: #008000 
        padding: 5px 0px 10px 
        text-align: left 
        text-shadow: 1px 1px 3px #adadad 
        font-weight: 500 
        font-size: 1.4em 
        font-family: 'Tahoma', Arial, sans-serif 
        line-height: 1.3 
    p 
        margin: 0 
        padding: 5px 0 
.close 
    top: -10px 
    right: -10px 
    width: 20px 
    height: 20px 
    position: absolute 
    padding: 0 
    border: 2px solid #ccc 
    -webkit-border-radius: 15px 
    -moz-border-radius: 15px 
    -ms-border-radius: 15px 
    -o-border-radius: 15px 
    border-radius: 15px 
    background-color: rgba(61, 61, 61, 0.8) 
    -webkit-box-shadow: 0px 0px 10px #000 
    -moz-box-shadow: 0px 0px 10px #000 
    box-shadow: 0px 0px 10px #000 
    text-align: center 
    text-decoration: none 
    font: 13px/20px 'Tahoma', Arial, sans-serif 
    font-weight: bold 
    -webkit-transition: all ease .8s 
    -moz-transition: all ease .8s 
    -ms-transition: all ease .8s 
    -o-transition: all ease .8s 
    transition: all ease .8s 
    &:before 
        color: rgba(255, 255, 255, 0.9) 
        content: "X" 
        text-shadow: 0 -1px rgba(0, 0, 0, 0.9) 
        font-size: 12px 
    &:hover 
        background-color: rgba(252, 20, 0, 0.8) 
        // -webkit-transform: rotate(360deg) 
        // -moz-transform: rotate(360deg) 
        // -ms-transform: rotate(360deg) 
        // -o-transform: rotate(360deg) 
        // transform: rotate(360deg) 
.pic-left, 
.pic-right 
    width: 25% 
    height: auto 
.pic-left 
    float: left 
    margin: 5px 15px 5px 0 
.pic-right 
    float: right 
    margin: 5px 0 5px 15px 
.popup embed, 
.popup iframe 
    top: 0 
    right: 0 
    bottom: 0 
    left: 0 
    display: block 
    margin: auto 
    min-width: 320px 
    max-width: 600px 
    width: 100%

.popup
    &_block
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        margin: auto
        padding: 16px 0px
        +bord
    &_bl
        // width: 30%
        flex-direction: column
        +bord
        &_label_14
            +fontOS
            font-size: 14px
            color: #000000
            margin-left: 6px
            +bord
        &_calendar
            display: flex
            justify-content: space-between
            align-items: center
            background: #FFFFFF
            border: 1px solid #DE5114
            box-sizing: border-box
            border-radius: 8px
            +width_height(auto, 40px)
            padding: 0px 16px
            &_date
                +fontMonts
                font-size: 16px
                text-transform: uppercase
                color: #000000
                width: 150px
                border: none
                +bord
            &_img
                // +width_height(16px, 16px)
                +bord
        &_button
            cursor: pointer
            background: #DE5114
            border-radius: 30px
            border: 1px solid #DE5114
            // box-sizing: border-box
            +width_height(275px, 56px)
            +fontMonts
            font-size: 20px
            text-align: center
            vertical-align: middle
            text-transform: uppercase
            color: #FFFFFF
            // margin-left: auto
            // margin-right: 0
        &_action
            +width_height(100%, 225px)
            background: #FFFFFF
            border-radius: 8px
            +bord
        &_select // &_popup_field
            +fontOS
            font-size: 16px
            background: #FFFFFF
            border: 1px solid #DE5114
            +width_height(100%, 48px)
            border-radius: 8px
            padding: 5px 16px

.box
    display: flex
    // justify-content: space-between
    // align-items: center
    +width_height (100%, auto)
    margin: auto
    padding: 16px 0px
    +bord
    flex-direction: column
    &_row
        box-sizing: border-box
        display: inline-flex
        flex-direction: row
        justify-content: space-between
        width: 100%
        max-height: 160px
        padding: 16px 16px
        +bord

