@import "mixins"
@import "variables"
@import "head"
@import "tabs"

*
	margin: 0
	padding: 0

ul
	list-style: none

body
	background-color: #FFF
	font-weight: normal
	font-size: 16px
	line-height: 26px
	color: #000000

.person_name
	display: inline-block
	margin-left: 20px
	width: 400px
	height: 24px
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 23px
	color: #00171F
	+bord

.container
	display: flex
	flex-wrap: wrap
	width: $main_width
	margin: auto
	box-sizing: border-box
	+bord

.main
	flex-direction: column
	background: $color_blue_backgrnd
	border-radius: 2px
	padding: 24px
	+bord


.visit
	&_stripe
		display: inline-flex
		justify-content: space-between
		align-items: center
		+width_height(100%, 88px)
		+bord
	&_label
		font-family: Open Sans
		font-style: normal
		font-weight: normal
		font-size: 16px
		color: $main_text_color
		+bord
	&_button_save
		background: $color_blue
		border-radius: 30px
		border: 1px solid $color_blue
		// box-sizing: border-box
		+width_height(200px, 56px)
		font-family: Montserrat
		font-style: normal
		font-weight: normal
		font-size: 20px
		text-align: center
		vertical-align: middle
		text-transform: uppercase
		color: #FFFFFF
		cursor: pointer

.block
	display: flex
	justify-content: flex-start
	align-items: flex-start
	flex-direction: column
	margin-bottom: 24px
	+bord
	&_label14 //font Open Sans
		+fontOS
		font-size: 14px
		color: #000000
		margin-left: 6px
		+bord
	&_label_16 //font Open Sans
		+fontOS
		font-size: 16px
		color: #4A4D50
		margin-left: 16px
		+bord
	&_select // &_popup_field
		+fontOS
		font-size: 16px
		background: #FFFFFF
		border: 1px solid $color_blue
		+width_height(100%, 48px)
		border-radius: 8px
		padding: 5px 16px
	&_field
		display: flex
		box-sizing: border-box
		justify-content: space-between
		background: #FFFFFF
		border: 1px solid $color_blue
		+width_height(100%, 136px)
		border-radius: 8px
		padding: 8px 16px
		&__text
			+fontOS
			font-size: 16px
			+bord
	&_consult // &_small
		display: flex
		box-sizing: border-box
		justify-content: space-between
		align-items: center
		align-self: flex-end
		margin-top: 40px
		margin-bottom: 30px
		+bord
		width: 430px
		&__select
			margin-left: 8px
			border-radius: 30px
	&_action
		+width_height(100%, 160px)
		background: #FFFFFF
		border-radius: 8px
		+bord
	&_row
		display: flex
		box-sizing: border-box
		justify-content: space-between
		// align-items: center
		// align-self: flex-end
		flex-direction: row
		padding: 8px 16px
		+bord
		&__text
			+fontOS
			font-size: 16px
			+bord
	&_prescribe
		box-sizing: border-box
		+width_height(100%, 468px)
		background: #FFFFFF
		border-radius: 8px
		+bord
	&_name
		width: 560px
		+bord
		&_input
			+fontOS
			font-size: 20px
			background: #FFFFFF
			border: 1px solid $color_blue
			border-radius: 30px
			padding: 0px 16px
			box-sizing: border-box
			+width_height(100%,56px)
	&_type
		width: 240px
		+bord
	&_external
		width: 160px
		+bord
		&_input
			+fontOS
			font-size: 20px
			background: #FFFFFF
			border: 1px solid $color_blue
			box-sizing: border-box
			border-radius: 30px
			+width_height(100%,56px)
			padding: 5px 16px
	&_internal
		width: 160px
		+bord
		&_input
			+fontOS
			font-size: 20px
			background: #FFFFFF
			border: 1px solid $color_blue
			box-sizing: border-box
			border-radius: 30px
			+width_height(100%,56px)
			padding: 5px 16px
	&_line
		border: 1px solid $color_blue
		width: 840px
		margin: auto
	&_close_episode
		margin: 40px 0px
		&_up
			display: flex
			width: 10%
			align-items: center
			justify-content: center
			+bord
		&_button
			+fontMonts
			font-size: 20px
			text-transform: uppercase
			background: #FFFFFF
			border: 1px solid $color_blue
			box-sizing: border-box
			border-radius: 30px
			+width_height(449px, 56px)
			color: $color_blue
			cursor: pointer

.mic
	background: #FFFFFF
	+width_height(24px,24px)
	+bord
	&_border
		border: 1px solid $color_blue

.button_plus
	display: inline-flex
	align-items: center
	justify-content: center
	background: #FFFFFF
	border: 1px solid $color_blue
	+width_height(40px, 40px)
	border-radius: 50%
	cursor: pointer