*
  margin: 0
  padding: 0

ul
  list-style: none

body
  background-color: #E2E8ED
  font-weight: normal
  font-size: 16px
  line-height: 26px
  color: #176FC0  

.center-container 
  max-width: 440px
  margin: 127px auto
  align-items: center

.logo
  display: block
  max-width: 278px  
  margin: 0 auto
  margin-top: 127px
  padding-bottom: 82px
  margin-right: auto
  margin-left: auto

@import "typeInput"

.label
  font-family: sans-serif
    
.label-right
   text-align: right
   padding-left: 0
.label-center
   text-align: center
   padding-left: 0

.title
  display: inline-block
  padding-left: 18px

.simple__label
  color: #505356
  display: block
  padding-bottom: 26px

.input__password
  display: block
  padding-bottom: 18px

.control-a
  display: block
  padding-top: 8px
  text-decoration: none
  color: #2E73B3
  margin-bottom: 36px

.form-control
   margin-bottom: 45px

.button 
  width: 100%
  // margin: 4px 2px
  margin-top: -30px
  margin-bottom: 34px
  text-transform: uppercase
  background-color: #2E73B3
  border: none
  color: white
  padding: 20px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  border-radius: 28px
  outline: none

.button:active 
  background-color: #0c3b66

.button span 
  cursor: pointer
  display: inline-block
  position: relative
  transition: 0.5s

.button span:after 
  content: '\00bb'
  position: absolute
  opacity: 0
  top: 0
  right: -20px
  transition: 0.5s

.button:hover span 
  padding-right: 20px

.button:hover span:after 
  opacity: 1
  right: 0

.control-reg
  // text-decoration: none
  font-size: 18px
  line-height: 26px
  color: #DE5114  
  text-transform: uppercase
  a
   text-decoration: none
   color: #176FC0 

