@import "mixins"
@import "variables"
@import "head"

*
	margin: 0
	padding: 0

ul
	list-style: none

body
	background-color: #FFF
	/*background-color: #000	*/
	font-weight: normal
	font-size: 16px
	// line-height: 26px
	// color: #176FC0

.cont
	/*border: 1px solid #969696*/
	display: flex
	width: $main_width
	margin: auto
	+bord

.blocks
	box-sizing: border-box
	// display: flex
	flex-wrap: wrap
	justify-content: space-between
	
.block
	box-sizing: border-box
	+width_height(200px, 200px)
	border: 1px solid $color_blue
	border-radius: 2px
	display: flex
	flex-direction: column
	// align-items: space-between
	justify-content: center
	align-items: center
	padding: 16px
	margin-bottom: 16px
	// +bord
	&_foto
		box-sizing: border-box
		height: 110px
		// width: 100px
		+bord
	&_pib
		box-sizing: border-box
		display: flex
		text-align: center
		// justify-content: center
		// align-items: center
		+fontOS
		font-size: 16px
		// line-height: 26px
		color: $main_text_color
		padding: 10px
		// align-content: center
		+bord
	&:hover
		border: 3px solid $color_blue

.block2
	box-sizing: border-box
	+width_height(100%, 64px)
	border: 1px solid $color_blue
	border-radius: 2px
	display: flex
	// flex-direction: column
	// align-items: space-between
	justify-content: space-between
	align-items: center
	padding: 0px 25px
	margin-top: 2px
	// +bord
	&:hover
		border: 3px solid $color_blue
	&_pib
		flex-basis: 30%
		box-sizing: border-box
		display: flex
		// text-align: center
		// justify-content: center
		align-items: center
		+fontOS
		font-size: 16px
		// line-height: 26px
		color: $main_text_color
		margin: 20px 0px
		// padding: 10px
		// align-content: center
		+bord
	&_diagnose
		// flex-grow: 3
		flex-basis: 45%
		box-sizing: border-box
		+fontOS
		font-size: 16px
		// line-height: 26px
		color: $main_text_color
		margin: 20px 0px
		+bord
	&_phone
		// flex-grow: 1
		flex-basis: 15%
		box-sizing: border-box
		+fontOS
		font-size: 16px
		// line-height: 26px
		color: $main_text_color
		margin: 20px 0px
		+bord
		
.button_plus
	display: flex
	align-items: center
	justify-content: center
	background: $color_blue
	//text-align: center
	border: 1px solid $color_blue
	+width_height(40px, 40px)
	border-radius: 50%
	margin-left: 155px
	margin-right: 8px