@import "variables"
@import "mixins"
@import "typeInput"
@import "head"

*
	margin: 0
	padding: 0

ul
	list-style: none

body
	background-color: #FFF
	/*background-color: #000	*/
	font-weight: normal
	font-size: 16px
	line-height: 26px
	color: #176FC0

.container
	/*border: 1px solid #969696*/
	display: block
	width: $main_width
	margin: auto

.add_photo
	border: 1px solid $color_blue
	margin: 40px 0px
	+width_height(160px, 120px)
	border-radius: 4px
	+center_block

.add_photo__circle
	border: 1px solid $color_blue
	+width_height(40px, 40px)
	border-radius: 20px
	+center_block

.fa-plus	
	color: $color_blue

.form-center
	text-align: center

.form_block
	display: inline-block
	text-align: left

.form_block_left
	float: left

.form_block_right
	float: right	

.form_block_width
	width: 100%

=bord
	// debug option
	// border: 1px solid #969696

.form-row1 
	position: relative
	padding-bottom: 40px
	+bord

.form-row2
	padding-bottom: 80px	
	+bord

.form-row3
	padding-bottom: 40px
	+bord

.form-row4
	padding-bottom: 40px
	+bord

.form-row3:after
	display: block

.form-row5
	padding-bottom: 40px
	+bord

.form-row6
	padding-top: 10px
	display: block
	// padding-bottom: 40px
	+bord

.submit
	width: 449px
	height: 56px
	display: inline-block
	font-size: 20px
	background-color: $color_blue
	color: #FFF
	border-radius: 30px
	border: none
	outline: none
	text-transform: uppercase
	text-align: center
	text-decoration: none
	

	