.block1
	width: 90%
	margin: auto
	min-height: 150px
	display: flex
	border: 2px solid #afafaf
	//justify-content: space-around
	//justify-content: space-between
	//align-items: center
	//flex-direction: row
	flex-wrap: wrap

.element
	background-color: grey
	border: 2px solid green
	//margin-left: 20px
	padding: 10px
	color: #fff
	flex-basis: 10%
	flex-grow: 3
	align-self: flex-end
	&3
		order: -1
		flex-grow: 1
		align-self: flex-start
		position: fixed
	&4
		align-self: center
	&:hover
		flex-basis: 20%


*
	box-sizing: border-box

body
	margin: 0
	padding: 0
	

.slider
	display: flex
	justify-content: center
	align-items: center
	margin: 0
	padding: 0
	font-family: 'Bad Script', sans-serif

.item
	height: 50vh
	display: flex
	justify-content: center
	align-items: center
	background-color: #aeaeae
	//border: 1px solid #000
	flex-basis: 25%
	transition: all 0.2s
	&:hover
		flex-basis: 80%
	span
		font-size: 3rem
		color: red
		text-shadow: 0px 0px 10px #000

.item-1
	background-color: green

.item-2
	background: url(../img/logo_blue.png) no-repeat center center

.item-3
	background-color: yellow

.item-4
	background: url(../img/logo_blue.png) no-repeat center center

@media (max-width: 640px)
	.slider
		height: 80vh
		flex-flow: column
	.item
		width: 100%
		
.features
	border: 1px solid green
	background-color: #535353
	padding-top: 50px
	padding-bottom: 50px
	&-blocks
		border: 1px solid red
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&-block
		border: 1px solid grey
		display: flex //for children
		align-items: center
		flex-basis: 30%
		background-color: white
		padding: 28px 19px
		margin-bottom: 20px
		&_img
			flex-basis: 40%
			margin-right: 10px
		&__title
			font-size: 25px
			font-weight: 700
			margin-bottom: 10px
		&__descr
			font-size: 14px
			font-weight: 400


.numbers
	border: 1px solid green
	text-align: center
	&-block
		border: 1px solid green
		display: inline-block
		width: 30%
		vertical-align: top
		&__title
			font-size: 36px
			font-weight: 900
			color: red
		&__text
			font-size: 16px
			font-weight: 300

.section
	&-title
		font-size: 27px
		font-weight: 700
		text-transform: uppercase
		text-align: center
		&::after
			content: ''
			display: block
			width: 46px
			height: 6px
			background: url(../img/Arrow.png) center no-repeat

.products
	border: 1px solid green
	padding-top: 57px
	padding-bottom: 73px
	&-block
		border: 1px solid green
		margin-bottom: 35px
		text-align: center
		&__img
			margin-bottom: 19px
		&__title
			margin-bottom: 28px
			font-size: 20px
			font-weight: 700
		&__button
			margin-right: 10px
			

.button
	font-size: 14px
	background-color: pink
	border: 1px solid transparent
	color: lighten( pink, 20% )
	padding: 15px
	border-radius: 5px
	&:hover
		background-color: darken(pink, 20%)
		cursor: pointer
	&-o
		background-color: transparent
		color: #020202
		border: 1px solid rgba(#373737, 0.5)
		&:hover
			background-color: darken(pink, 20)
			color: pink
			border: 1px solid transparent
			cursor: pointer
	img
		vertical-align: middle
	&_big
		padding-top: 20px
		padding-bottom: 20px
		vertical-align: middle
