
$top_color: #F4CBB9
$top_color_borders: #DE5114

=center_block
	display: flex
	justify-content: center
	align-items: center

=left_block
	display: flex
	align-items: center
	float: left

=width_height($width, $height)
	width: $width
	height: $height

*
	margin: 0
	padding: 0

ul
	list-style: none

body
	background-color: #FFF
	/*background-color: #000	*/
	font-weight: normal
	font-size: 16px
	line-height: 26px
	color: #176FC0

.container
	/*border: 1px solid #969696*/
	display: block
	width: 920+15+15px
	margin: auto


.top_first_stripe 
	/*border: 1px solid #969696*/
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	height: 64px
	-ms-align-items: center
	align-items: center

.logo 
	display: block
	width: 121px
	/*border: 1px solid black*/

.top_second_stripe 
 // border: 10px solid #969696
	height: 56px
	display: flex
	align-items: center

.rectangle 
	position: absolute
	left: 0
	background-color: $top_color
	+width_height(50%, 56px)

.rectangle_rounded
	background-color: $top_color
	border-radius: 0 56px 56px 0
	height: 56px
	+left_block

.head__text
	font-family: 'Montserrat', sans-serif
	font-style: normal
	font-weight: normal
	font-size: 26px
	margin-top: -4px
	color: #00171F

.entrance
	color: #DE5114
	padding-left: 25px

.add_photo
	border: 1px solid $top_color_borders
	margin: 40px 0px
	+width_height(160px, 120px)
	border-radius: 4px
	+center_block

.add_photo__circle
	border: 1px solid $top_color_borders
	+width_height(40px, 40px)
	border-radius: 20px
	+center_block

.fa-plus	
	color: $top_color_borders

.label
	padding-left: 17px
	line-height: 22px
	font-size: 17px
	// margin-top: 28px

.input-field
	+width_height(280px, 56px)
	padding: 0.5em 1.45em 0.7em
	margin: -3px 0px 
	background: #fff
	color: #176FC0
	line-height: 1.45
	outline: none
	transition: .18s ease-out
	box-sizing: border-box
	box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2)
	border: 1px solid #176FC0 
	border-radius: 28px
	border-size: 1em

.input-field:hover 
	box-shadow: inset 0px 0px 0px rgba(23, 111, 192, 0.4)

.input-field:focus 
	color: #176FC0
	border: 1px solid #176FC0
	box-shadow: inset 0px -5px 5px rgba(23, 111, 192, 0.4)

.input-field2
	+width_height(440px, 56px)
	padding: 0.5em 1.45em 0.7em
	margin: -3px 0px 
	background: #fff
	color: #176FC0
	line-height: 1.45
	outline: none
	transition: .18s ease-out
	box-sizing: border-box
	box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2)
	border: 1px solid #176FC0 
	border-radius: 28px
	border-size: 1em

.form-center
	text-align: center

.form_block
	display: inline-block
	text-align: left

.form_block_left
	float: left

.form_block_right
	float: right	

.form_block_width
	width: 100%

=bord
	// border: 1px solid #969696

.form-row1 
	position:relative
	padding-bottom: 40px
	+bord

.form-row2
	padding-bottom: 80px	
	+bord

.form-row3
	padding-bottom: 40px
	+bord

.form-row4
	padding-bottom: 40px
	+bord

.form-row3:after
	display:block

.form-row5
	padding-bottom: 40px
	+bord

.form-row6
	padding-top: 10px
	display: block
	// padding-bottom: 40px
	+bord

.submit
	width: 449px
	height: 56px
	display: inline-block
	font-size: 20px
	background-color: $top_color_borders
	color: #FFF
	border-radius: 30px
	border: none
	outline: none
	text-transform: uppercase
	text-align: center
	text-decoration: none
