//tab episodes
@import "mixins"
@import "variables"
@import "head"
@import "aboutPersonality"
//@import "typeInput"
@import "tabs"
@import "calendar"
@import "popup"

*
	margin: 0
	padding: 0

ul
	list-style: none

body
	background-color: #FFF
	/*background-color: #000	*/
	font-weight: normal
	font-size: 16px
	line-height: 26px
	color: #176FC0

.tabs
	display: flex
	width: $main_width //920+15+15px
	margin: auto
	+bord

.panel
	display: flex
	width: $main_width //920+15+15px
	margin: auto
	+bord

=aflex
	display: inline-flex
	align-items: center
	justify-content: space-between

.noborder
	border: none

.group
	+width_height(100%, 104px)
	background: $top_color_blue
	padding-left: 16px
	padding-right: 16px
	+aflex
	&_col0
		+bord
	&_col1
		// flex-basis: 33%
		+bord
	&_col2
		// flex-basis: 23%
		+bord
	&_col3
		// flex-basis: 23%
		+bord
	&_col4
		// flex-basis: 17%
		+bord


.button_plus
	display: inline-flex
	align-items: center
	justify-content: center
	background: $color_blue
	//text-align: center
	border: 1px solid $color_blue
	+width_height(40px, 40px)
	border-radius: 50%
	
.dateBox
	+aflex
	background: #FFFFFF
	border: 1px solid $color_blue
	box-sizing: border-box
	border-radius: 30px
	+width_height(238px, 40px)
	padding-left: 16px
	padding-right: 16px
	&__startDate
		width: 40%
		border: none
		+bord
	&__endDate
		width: 40%
		border: none
		+bord

.diagnostic_type
	padding-left: 16px
	padding-right: 16px
	+aflex
	border: 1px solid $color_blue
	background: #FFFFFF
	box-sizing: border-box
	border-radius: 30px
	+width_height(238px, 40px)
	&_sel
		width: 100%
		border: none

.appointment_type
	padding-left: 16px
	padding-right: 16px
	+aflex
	border: 1px solid $color_blue
	background: #FFFFFF
	box-sizing: border-box
	border-radius: 30px
	+width_height(238px, 40px)
	&_sel
		width: 100%
		border: none

.diagnosis
	padding-left: 16px
	padding-right: 16px
	+aflex
	border: 1px solid $color_blue
	background: #FFFFFF
	box-sizing: border-box
	border-radius: 30px
	+width_height(195px, 40px)
	&_edit
		width: 100%
		border: none

.doctor
	padding-left: 16px
	padding-right: 16px
	+aflex
	border: 1px solid $color_blue
	background: #FFFFFF
	box-sizing: border-box
	border-radius: 30px
	+width_height(162px, 40px)
	&_sel
		width: 100%
		border: none

.status
	padding-left: 16px
	padding-right: 16px
	+aflex
	border: 1px solid $color_blue
	background: #FFFFFF
	box-sizing: border-box
	border-radius: 30px
	+width_height(146px, 40px)
	&_sel
		width: 100%
		border: none

//table
#group
	width: 100%
	margin: 20px auto
	box-sizing: border-box
	+fontOS
	font-size: 16px
	background: #FFFFFF
	border-collapse: collapse

#group td, tr
	border: 1px solid $top_color_blue
	color: #000000
	padding: 8px 16px



.button
	display: inline-flex
	//padding: 15px
	+width_height(24px, 24px)
	+aflex
	&_sort
		background: #FFFFFF
	&_sort:hover
		background-color: darken($color_blue, 20%)
		cursor: pointer
	&_sort::after
		background: $color_blue
	&_sort-o
		background: $color_blue
		&:hover
			background-color: darken($color_blue, 20)
			cursor: pointer
		&::after
			background: #FFFFFF
	&_sort-up
	&_sort-down
		transform: rotate(-90deg)
	
