@import "mixins"
@import "variables"
@import "head"
@import "aboutPersonality"
//@import "typeInput"
@import "tabs"

*
	margin: 0
	padding: 0

ul
	list-style: none

body
	background-color: #FFF
	/*background-color: #000	*/
	font-weight: normal
	font-size: 16px
	line-height: 26px
	color: #176FC0

.tabs
	display: flex
	width: $main_width //920+15+15px
	margin: auto
	+bord

.panel
	display: flex
	width: $main_width //920+15+15px
	margin: auto
	+bord

=aflex
	display: inline-flex
	align-items: center
	justify-content: space-between
	
.visit
	+aflex
	+bord
	&_col1
		flex-basis: 10%
	&_col2
		flex-basis: 45%
	&_col3
		flex-basis: 20%
		background: green
	&_col4
		flex-basis: 20%
	
.dateBox
	+aflex
	background: #FFFFFF
	border: 1px solid #2E73B3
	box-sizing: border-box
	border-radius: 30px
	+width_height(292px, 40px)
	&__startDate
		
		+bord
	&__endDate
		+bord

.button_plus
	background: #2E73B3
	text-align: center
	border: 1px solid #2E73B3
	+width_height(40px, 40px)
	border-radius: 50%
	
.period
