<div class="top top_first_stripe" data-th-fragment="logo">
    <a href="#" data-th-href="@{/patients}">
        <img class="logo" data-th-src="@{/img/logo_blue.png}" src="img/logo_blue.png" alt="Логотип MonitMed">
    </a>

    <div>
        <a class="linkWoBS" href="/perform_logout">Вихід</a>
    </div>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>


    <!--<select id="sDiagnosticType" class="dtMed">-->
        <!--<option value=”SIG”>Доктор Медик</option>-->
        <!--<option value=”YE”>Профіль</option>-->
        <!--<option value=”BL”>Налаштування середовища</option>-->
        <!--<option value=”SIG”><a href="/perform_logout">Вихід</a></option>-->
    <!--</select>-->
</div>

<div class="head_back__blue" data-th-fragment="btn_back">
    <div class="head_container">
        <a href="#">
            <div class="head_button_back">
                <img data-th-src="@{/img/arrow-white.png}" src="img/arrow-white.png" onclick="goBack()">
            </div>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </a>
    </div>
</div>

<div class="head_back__blue" data-th-fragment="btn_back_plus">
    <div class="head_container">
        <a href="#"><div class="head_button_back"><img data-th-src="@{/img/arrow-white.png}" src="img/arrow-white.png"></div></a>
        <div class="person_name" data-th-text="${patient.getFullName()}">Прізвище Ім'я По батькові</div>
    </div>
</div>