<!--============================================================-->
<!--fragment with tabs from visits, episodes, uploads, etc, page-->
<!--============================================================-->
<div data-th-fragment="tabs_visit_page">
	<div class="tab panel">
		<input type="radio" name="tab" id="tab_visits" class="input tablinks active" onclick="openContent(event, 'visits')">
		<label for="tab_visits" class="label">
			Візити
		</label>

		<input type="radio" name="tab" id="tab_episodes" class="input tablinks" onclick="openContent(event, 'episodes')">
		<label for="tab_episodes" class="label">
			Епізоди
		</label>

		<input type="radio" name="tab" id="tab_examinations" class="input tablinks" onclick="openContent(event, 'examinations')">
		<label for="tab_examinations" class="label">
			Обстеження
		</label>

		<input type="radio" name="tab" id="tab_uploads" class="input tablinks" onclick="openContent(event, 'uploads')">
		<label for="tab_uploads" class="label">
			Самодіагностика
		</label>

		<input type="radio" name="tab" id="tab_appointments" class="input tablinks" onclick="openContent(event, 'appointments')">
		<label for="tab_appointments" class="label">
			Призначення
		</label>
	</div>

	<script>
        function openContent(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
	</script>
</div>

<!--================================================-->
<!-- fragment for tabs with episodes from visit page-->
<!--================================================-->
<div data-th-fragment="tabs_episode_page">
	<div class="tab panel">
		<data-th-block data-th-each="episode : ${episodes}">
			<input type="radio" name="tab" id="tab_visit" class="input tablinks active"
				   onclick="openContent(event, 'episode.id')">
			<label for="tab_visit" class="label">
				[[${episode.diagnosis.diagnosisNote}]]
			</label>
		</data-th-block>
	</div>
	<script>
        function openContent(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
	</script>
</div>

<!--========================================================-->
<!-- fragment for tabs with sortPanelVisits from visits page-->
<!--========================================================-->
<section class="panel" data-th-fragment="sortPanelVisits">
	<div class="group">
		<div class="group_col1">
			<div class="button_plus" id="add_visit">
                <img src="img/plus_white.png" data-th-src="@{/img/plus_white.png}" alt="додати">
			</div>
		</div> <!-- /.group_col1 -->

		<div class="group_col2">
			<div class="dateBox">
				<input type="date"
					   id="startDate"
					   value="2019-03-19"
					   class="dateBox__startDate">
				<span> - </span>
				<input type="date"
					   id="endDate"
					   value="2019-04-19"
					   class="dateBox__endDate">
				<img src="img/icon_calendar.png" data-th-src="@{/img/icon_calendar.png}">
			</div>
		</div> <!-- /.group_col2 -->

		<div class="group_col3">
			<div class="diagnosis">
				<input type="text" name="diagnosis" placeholder="Діагноз" class="diagnosis_edit">
				<img src="img/icon_find.png" data-th-src="@{/img/icon_find.png}">
			</div>
		</div> <!-- /.group_col3 -->

		<div class="group_col4">
			<!-- <input type="text" name="doctor"> -->
			<div class="doctor">
				<select id="sDoctor" class="doctor_sel">
					<data-th-block data-th-each="doctor : ${doctors}">
						<option value=”doc” data-th-value="${doctor.id}" data-th-text="${doctor.getFullName()}">Лікар 1</option>
					</data-th-block>
				</select>
			</div>
		</div> <!-- /.group_col4 -->
	</div> <!-- /.group -->
</section>

<!--============================================================-->
<!-- fragment for tabs with sortPanelEpisodes from episodes page-->
<!--============================================================-->
<section class="panel" data-th-fragment="sortPanelEpisodes">
	<div class="group">
		<div class="group_col1">
			<div class="dateBox">
				<input type="date"
					   id="startDate"
					   value="2019-03-19"
					   class="dateBox__startDate">
				<span> - </span>
				<input type="date"
					   id="endDate"
					   value="2019-04-19"
					   class="dateBox__endDate">
				<img data-th-src="@{/img/icon_calendar.png}" src="img/icon_calendar.png">
			</div>
		</div>
		<!-- /.group_col1 -->

		<div class="group_col2">
			<div class="diagnosis">
				<input type="text" name="diagnosis" placeholder="Діагноз" class="diagnosis_edit">
				<img data-th-src="@{/img/icon_find.png}" src="img/icon_find.png">
			</div>
		</div>
		<!-- /.group_col2 -->

		<div class="group_col3">
			<div class="doctor">
				<select id="sDoctor" class="doctor_sel">
					<option value=”SIG”>Лікар 1</option>
					<option value=”YE”>Yellow</option>
					<option value=”BL”>Black</option>
				</select>
			</div>
		</div>
		<!-- /.group_col3 -->

		<div class="group_col4">
			<div class="status">
				<select id="status" class="status_sel">
					<option value=”SIG”>Статус</option>
					<option value=”YE”>Yellow</option>
					<option value=”BL”>Black</option>
				</select>
			</div>
		</div>
		<!-- /.group_col4 -->
	</div> <!-- /.group -->
</section> <!-- /.panel -->

<!--================================================================-->
<!-- fragment for tabs with sortPanelExaminations from episodes page-->
<!--================================================================-->
<section class="panel" data-th-fragment="sortPanelExaminations">
	<div class="group">

		<div class="group_col0">
			<a href="#win1" class="button1 button-green">
				<div class="button_plus">
					<img src="img/plus_white.png" data-th-src="@{/img/plus_white.png}" alt="додати">
				</div>
			</a>
		</div>
		<!-- /.group_col0 -->

		<!-- popup window -->
		<a href="#x" class="overlay" id="win1"></a>
		<div class="popup">
			<div class="popup_block">
				<div class="popup_bl">
					<label class="popup_bl_label_14">Дата</label>
					<div class="popup_bl_calendar">
						<input  type="date"
								id="group-date"
								value="2019-03-21"
								class="popup_bl_calendar_date">
						<div  class="popup_bl_calendar_img"><img src="img/icon_calendar.png" data-th-src="@{/img/icon_calendar.png}"></div>
					</div>
				</div>
				<div class="popup_bl">
					<button class="popup_bl_button">Призначити</button>
				</div>
			</div>

			<div class="box">
				<label class="popup_bl_label_14">Вид аналізів</label>
				<div class="popup_bl_action">
					<select id="selectPopup" class="popup_bl_select">
						<option value=”blood”>B34 - Аналіз крові</option>
						<option value=”YE”>Yellow</option>
						<option value=”BL”>Black</option>
					</select>
					<div class="box_row">
						<text class="popup_bl_label_14">sdfsd</text>
						<div class="mic"><img src="img/mic_blue.png" data-th-src="@{/img/mic_blue.png}" alt="мікрофон"></div>
					</div>

				</div>
			</div>

			<a class="close" title="Закрити" href="#close"></a>
		</div>
		<!-- /.popup window -->

		<div class="group_col1">
			<div class="dateBox">
				<input  type="date"
						id="startDate"
						value="2019-03-19"
						class="dateBox__startDate" >
				<span> - </span>
				<input  type="date"
						id="endDate"
						value="2019-04-19"
						class="dateBox__endDate" >
				<img src="img/icon_calendar.png" data-th-src="@{/img/icon_calendar.png}">
			</div>
		</div>
		<!-- /.group_col1 -->

		<div class="group_col2">
			<div class="diagnostic_type">
				<select id="sDiagnosticType" class="diagnostic_type_sel">
					<option value=”SIG”>Вид обстеження</option>
					<option value=”YE”>Yellow</option>
					<option value=”BL”>Black</option>
				</select>
			</div>
		</div>
		<!-- /.group_col2 -->

		<div class="group_col3">
			<div class="doctor">
				<select id="sDoctor" class="doctor_sel">
					<option value=”SIG”>Лікар 1</option>
					<option value=”YE”>Yellow</option>
					<option value=”BL”>Black</option>
				</select>
			</div>
		</div>
		<!-- /.group_col3 -->

		<div class="group_col4">
			<div class="status">
				<select id="status" class="status_sel">
					<option value=”SIG”>Статус</option>
					<option value=”YE”>Yellow</option>
					<option value=”BL”>Black</option>
				</select>
			</div>
		</div><!-- /.group_col4 -->
	</div><!-- /.group -->
</section><!-- /.panel -->

<!--==========================================================-->
<!-- fragment for tabs with sortPanelUploads from uploads page-->
<!--==========================================================-->
<section class="panel" data-th-fragment="sortPanelUploads">
    <div class="group">

        <div class="group_col0">
            <div class="dateBox">
                <input type="date"
                       id="startDate"
                       value="2019-03-19"
                       class="dateBox__startDate">
                <span> - </span>
                <input type="date"
                       id="endDate"
                       value="2019-04-19"
                       class="dateBox__endDate">
                <img data-th-src="@{/img/icon_calendar.png}" src="img/icon_calendar.png">
            </div>
        </div> <!-- /.group_col0 -->

        <div class="group_col1">
            <div class="diagnostic_type">
                <select id="sDiagnosticType" class="diagnostic_type_sel">
                    <option value=”SIG”>Всі типи</option>
                    <option value=”YE”>Yellow</option>
                    <option value=”BL”>Black</option>
                </select>
            </div>
        </div> <!-- /.group_col1 -->

        <div class="group_col2">
            <div class="doctor">
                <select id="sDoctor" class="doctor_sel">
                    <option value=”SIG”>Всі лікарі</option>
                    <option value=”YE”>Yellow</option>
                    <option value=”BL”>Black</option>
                </select>
            </div>
        </div>
        <!-- /.group_col2 -->
    </div>  <!-- /.group -->
</section> <!-- /.panel -->

<!--====================================================================-->
<!-- fragment for tabs with sortPanelAppointments from Appointments page-->
<!--====================================================================-->
<section class="panel" data-th-fragment="sortPanelAppointments">
    <div class="group">
        <div class="group_col0">
            <div class="button_plus">
                <img src="img/plus_white.png" data-th-src="@{/img/plus_white.png}" alt="додати">
            </div>
        </div> <!-- /.visit_col0 -->

        <div class="group_col1">
            <div class="dateBox">
                <input type="date"
                       id="startDate"
                       value="2019-03-19"
                       class="dateBox__startDate">
                <span> - </span>
                <input type="date"
                       id="endDate"
                       value="2019-04-19"
                       class="dateBox__endDate">
                <img src="img/icon_calendar.png" data-th-src="@{/img/icon_calendar.png}">
            </div>
        </div> <!-- /.group_col1 -->

        <div class="group_col2">
            <div class="appointment_type">
                <select id="sDiagnosticType" class="appointment_type_sel">
                    <option value=”SIG”>Тип</option>
                    <option value=”YE”>Yellow</option>
                    <option value=”BL”>Black</option>
                </select>
            </div>
        </div> <!-- /.group_col2 -->

        <div class="group_col3">
            <div class="doctor">
                <select id="sDoctor" class="doctor_sel">
                    <option value=”SIG”>Лікар</option>
                    <option value=”YE”>Yellow</option>
                    <option value=”BL”>Black</option>
                </select>
            </div>
        </div> <!-- /.group_col3 -->

        <div class="group_col4">
            <div class="status">
                <select id="status" class="status_sel">
                    <option value=”SIG”>Активні</option>
                    <option value=”YE”>Yellow</option>
                    <option value=”BL”>Black</option>
                </select>
            </div>
        </div> <!-- /.group_col4 -->
    </div> <!-- /.group -->
</section>
