<data-th-block data-th-fragment="onlineMenu">

    <input class="open" id="top-box" type="checkbox" hidden>
    <label class="btn" for="top-box"> <i class="fas fa-bars"></i> </label>
    <div class="top-panel">

        <h2>Онлайн</h2>
        <div data-th-each="patient : ${patients}" class="message">

            <div class="bl_online__elem" onclick="location.href='#';"
                 data-th-onclick="'window.location.href = \'' + @{/patient/visits/get/{id}(id=${patient.id})} + '\''">
                <!--<div class="elem_pib" data-th-text="${patient.lastName + ' ' + patient.firstName + ' ' + patient.secondName}">-->
                <div class="elem_pib" data-th-text=
                        "${patient.lastName} + ' '
                    + ${#strings.substring(patient.firstName,0,1)} + '.'
                    + ${#strings.substring(patient.secondName,0,1)} + '.'">
                    Прізвище І.Б.
                </div>
                <div class="elem_status">online:</div>
                <div class="elem_time-ago">2хв тому</div>
            </div> <!-- /.bl_online__elem -->

        </div>
    </div>

</data-th-block>