<data-th-block data-th-fragment="new_visit" id="grow">
    <div class='measuringWrapper'>

        <!--Кодифікація -->
        <div class="container main_less_padding section">
            <label class="block_label14">Причини звернення / Скарги (кодифікація)</label>
            <!--<textarea id="selectComplaintCode" class="block_field__text block_field"></textarea>-->
            <div id="selected_codes_area container">
                <div class="selectedCode" hidden>
                     -54	Відновлення /накладання шву / гіпсу /протез
                    <button class="close_button">
                        <div>
                            <img src="img/delete.png" data-th-src="@{/img/delete.png}">
                        </div>
                    </button>
                </div>
            </div>
            <a href="codes.html" data-th-href="@{/codes.html}" rel="modal:open" >
                вибрати коди
            </a>
        </div>

        <!--  примітка причини звернення   -->
        <div class="container main_less_padding section">
            <label class="block_label14">Причини звернення / Скарги (примітка)</label>

            <textarea class="block_field__text block_field" id="causeOfTreatmentNote"></textarea>
            <!--<div class="mic"><img src="img/mic_blue.png" data-th-src="@{/img/mic_blue.png}" alt="мікрофон"></div>-->

        </div>

        <!--  Причина звернення / Скарги   -->
        <div class="container main_less_padding section">
            <label class="block_label14">Скарги</label>

            <!--<div id="selectComplaintNote" class="block_field">-->
                <textarea class="block_field__text block_field" id="complaints"></textarea>
                <!--<div class="mic"><img src="img/mic_blue.png" data-th-src="@{/img/mic_blue.png}" alt="мікрофон"></div>-->
            <!--</div>-->
        </div>

        <!--  Анамнез хвороби  -->
        <div class="container main_less_padding section">
            <span class="block_label14">Анамнез хвороби</span>
            <!--<div class="block_field">-->
                <textarea class="block_field__text block_field" id="diseaseAnamnesis"></textarea>
                <!--<div class="mic"><img src="img/mic_blue.png" data-th-src="@{/img/mic_blue.png}" alt="мікрофон"></div>-->
            <!--</div>-->
        </div>

        <!--  Об’єктивні дані  -->
        <div class="container main_less_padding section">
            <span class="block_label14">Об’єктивні дані</span>
            <!--<div class="block_field">-->
                <textarea class="block_field__text block_field" id="objectiveData"></textarea>
                <!--<div class="mic"><img src="img/mic_blue.png" data-th-src="@{/img/mic_blue.png}" alt="мікрофон"></div>-->
            <!--</div>-->
        </div>

        <!--  лікар  -->
        <div class="container main_less_padding" style="float: left; width: 50%; justify-content: center">
            <div id="visitDoctor">
                <span class="colum_PIB_txtdt__text">Лікар:</span>
                <div class="doctor" style="width: auto">
                    <select id="selectVisitDoctor" class="doctor_sel">
                        <data-th-block data-th-each="doctor : ${doctors}">
                            <option value=”doc” data-th-value="${doctor.id}" data-th-text="${doctor.getFullName()}">
                                Лікар 1
                            </option>
                        </data-th-block>
                    </select>
                </div>
            </div>
        </div>

        <!--дата-->
        <div class="container main_less_padding" style="float: right; width: 50%; justify-content: center">
            <div id="visitDate">
                <span class="colum_PIB_txtdt__text">Дата візиту:</span>
                <input type="text" id="dateOfVisit" class="doctor" style="border-radius: 20px; width: auto;">

                <script data-th-inline="javascript">
                    var newVisitUrl = "/patient/add/visit";

                    $(function () {
                        $("#dateOfVisit").datepicker();
                    });

                </script>
            </div>
        </div>

        <!--кнопка зберегти-->
        <div class="container main_less_padding container_btn_submit" >
            <input class="btn_submit" id="submit_button" type="submit" value="Зберегти">
        </div>

    </div>
</data-th-block>