<div data-th-fragment="new_visit">
    <!--Причина звернення / Скарги Кодифікація -->
    <div class="block">
        <label class="block_label14">Причина звернення / Скарги</label>
        <select id="selectComplaintCode" class="block_select">
            <data-th-block data-th-each="cause : ${visit.getCodes()}">
                <option data-th-value="${cause.id}" value=”1”
                        data-th-text="${cause.codification} + ' ' + ${cause.description}">Z99 - опис коду
                </option>
            </data-th-block>
        </select>
    </div>

    <!--  Причина звернення / Скарги   -->
    <div class="block">
        <label class="block_label14">Причина звернення / Скарги</label>
        <select id="selectComplaintNote" class="block_select">
            <data-th-block data-th-each="cause : ${visit.getCodes()}">
                <option data-th-value="${cause.id}" value=”1”
                        data-th-text="${cause.codification} + ' ' + ${cause.description}">Z99 - опис коду
                </option>
            </data-th-block>
        </select>
        <!-- <input type="text" class="block_popup_field text16" value="R72 - Стрептококова інфекція горла"> -->
    </div>

    <!--  Анамнез хвороби  -->
    <div class="block">
        <span class="block_label14">Анамнез хвороби</span>
        <div class="block_field">
            <text class="block_field__text" data-th-text="${visit.getDiseaseAnamnesis()}">disease anamnesis</text>
            <div class="mic"><img src="img/mic_blue.png" data-th-src="@{/img/mic_blue.png}" alt="мікрофон"></div>
        </div>
    </div>

    <!--  Об’єктивні дані  -->
    <div class="block">
        <span class="block_label14">Об’єктивні дані</span>
        <div class="block_field">
            <text class="block_field__text" data-th-text="${visit.getObjectiveData()}">objective data</text>
            <div class="mic"><img src="img/mic_blue.png" data-th-src="@{/img/mic_blue.png}" alt="мікрофон"></div>

        </div>
    </div>

    <!--  Діагноз  -->
    <div class="block">
        <span class="block_label14">Діагноз</span>
        <select id="selectDiagnosis" class="block_select">
            <data-th-block data-th-each="episode : ${visit.getEpisodes()}">
                <option data-th-value="${episode.getDiagnosis().getDiagnosisNote()}"
                        data-th-text="${episode.getDiagnosis().getDiagnosisCode().codification}
						+ ' ' + ${episode.getDiagnosis().getDiagnosisCode().description}">
                    Код - діагноз
                </option>
            </data-th-block>
        </select>
    </div>
</div>