<!--<div data-th-fragment="main">-->
<div data-th-fragment="blockperson">
    <section class="aboutPersonality">
        <div class="colum">
            <div class="colum_foto">
                <img data-th-src="@{/photos/} + ${patient.photoFileName}" src="img/noPhoto.jpg" class="foto block_foto">
            </div>
            <!-- /.colum_foto -->
            <div class="colum_PIB">
				<span class="colum_PIB__text" data-th-text="${patient.getFullName()}">
					Прізвище Ім'я По батькові
				</span>
                <span class="colum_PIB__text" data-th-text="${patient.birthDate}">
					1900
				</span>
                <div class="colum_PIB_txtdt">
					<span class="colum_PIB_txtdt__text">
					Наступний прийом
					</span>
                    <input  type="date"
                            id="group-date"
                            value="2019-03-19"
                            class="colum_PIB_txtdt__date" >
                </div>
            </div>
            <!-- /.colum_PIB_ -->
            <div class="colum_urgent">
                <!--<a class="colum_urgent__text" href="/appointment/get/"-->
                   <!--data-th-href="@{/appointment/get/} + ${patient.id}">Перейти<br>до<br>призначень</a>-->
            </div>
            <!-- /.colum_urgent -->
        </div>
        <!-- /.colum -->
    </section>
</div>
