* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #E2E8ED;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #176FC0;
}

.center-container {
    max-width: 440px;
    margin: 127px auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    display: block;
    max-width: 278px;
    margin: 0 auto;
    margin-top: 127px;
    padding-bottom: 82px;
    margin-right: auto;
    margin-left: auto;
}

.label {
    padding-left: 17px;
    line-height: 22px;
    font-size: 17px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

.input-field {
    width: 280px;
    height: 56px;
    padding: 0.5em 1.45em 0.7em;
    margin: -3px 0px;
    background: #fff;
    color: #176FC0;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #176FC0;
    border-radius: 28px;
    border-size: 1em;
}

.input-field:hover {
    -webkit-box-shadow: inset 0px 0px 0px rgba(23, 111, 192, 0.4);
    box-shadow: inset 0px 0px 0px rgba(23, 111, 192, 0.4);
}

.input-field:focus {
    color: #176FC0;
    border: 1px solid #176FC0;
    -webkit-box-shadow: inset 0px -5px 5px rgba(23, 111, 192, 0.4);
    box-shadow: inset 0px -5px 5px rgba(23, 111, 192, 0.4);
}

.input-field2 {
    width: 440px;
    height: 56px;
    padding: 0.5em 1.45em 0.7em;
    margin: -3px 0px;
    background: #fff;
    color: #176FC0;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #176FC0;
    border-radius: 28px;
    border-size: 1em;
}

.input-field3 {
    width: 600px;
    height: 56px;
    padding: 0.5em 1.45em 0.7em;
    margin: -3px 0px;
    background: #fff;
    color: #176FC0;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #176FC0;
    border-radius: 28px;
    border-size: 1em;
}

.label {
    font-family: sans-serif;
}

.label-right {
    text-align: right;
    padding-left: 0;
}

.label-center {
    text-align: center;
    padding-left: 0;
}

.title {
    display: inline-block;
    padding-left: 18px;
}

.simple__label {
    color: #505356;
    display: block;
    padding-bottom: 26px;
}

.input__password {
    display: block;
    padding-bottom: 18px;
}

.control-a {
    display: block;
    padding-top: 8px;
    text-decoration: none;
    color: #2E73B3;
    margin-bottom: 36px;
}

.form-control {
    margin-bottom: 45px;
}

.button {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 34px;
    text-transform: uppercase;
    background-color: #2E73B3;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 28px;
    outline: none;
}

.button:active {
    background-color: #0c3b66;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.control-reg {
    font-size: 18px;
    line-height: 26px;
    color: #DE5114;
    text-transform: uppercase;
}

.control-reg a {
    text-decoration: none;
    color: #176FC0;
}
