.label {
    padding-left: 17px;
    line-height: 22px;
    font-size: 17px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

.input-field {
    width: 280px;
    height: 56px;
    padding: 0.5em 1.45em 0.7em;
    margin: -3px 0px;
    background: #fff;
    color: #176FC0;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #176FC0;
    border-radius: 28px;
    border-size: 1em;
}

.input-field:hover {
    -webkit-box-shadow: inset 0px 0px 0px rgba(23, 111, 192, 0.4);
    box-shadow: inset 0px 0px 0px rgba(23, 111, 192, 0.4);
}

.input-field:focus {
    color: #176FC0;
    border: 1px solid #176FC0;
    -webkit-box-shadow: inset 0px -5px 5px rgba(23, 111, 192, 0.4);
    box-shadow: inset 0px -5px 5px rgba(23, 111, 192, 0.4);
}

.input-field2 {
    width: 440px;
    height: 56px;
    padding: 0.5em 1.45em 0.7em;
    margin: -3px 0px;
    background: #fff;
    color: #176FC0;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #176FC0;
    border-radius: 28px;
    border-size: 1em;
}

.input-field3 {
    width: 600px;
    height: 56px;
    padding: 0.5em 1.45em 0.7em;
    margin: -3px 0px;
    background: #fff;
    color: #176FC0;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #176FC0;
    border-radius: 28px;
    border-size: 1em;
}

.top {
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top_first_stripe {
    height: 64px;
    width: 920px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-;
}

.top_second_stripe {
    height: 56px;
}

.logo {
    display: block;
    width: 121px;
}

.dtMed {
    border: 1px solid #969696;
}

.posabs {
    position: absolute;
    width: 100%;
    height: 56px;
    z-index: -1;
}

.stripe {
    width: 100%;
    height: 56px;
}

.stripe_half {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 56px;
}

.stripe_half_right {
    width: 50%;
    height: 56px;
    margin-right: 0px;
    margin-left: auto;
}

.rounded {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 680px;
    height: 56px;
    border-radius: 0 56px 56px 0;
}

.rounded_green {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0px;
    margin-left: auto;
    width: 680px;
    height: 56px;
    border-radius: 56px 0 0 56px;
}

.bkg_blue {
    background-color: #A5CCF1;
}

.bkg_orange {
    background-color: #F4CBB9;
}

.bkg_green {
    background-color: #91E1CA;
}

.green {
    color: #00A878;
}

.lbl {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.lbl_consult {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 0px;
    margin-left: auto;
    color: #00A878;
}

.find {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #2E73B3;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    width: 280px;
    height: 40px;
}

.find_edit {
    width: 100%;
    border: none;
}

.sort_stripe {
    height: 80px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bl_view {
    width: 64px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_sort_name {
    width: 100px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_sort_last {
    width: 250px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_protect {
    width: 220px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_lbl {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.button_sort {
    background: #FFFFFF;
    border: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button_sort:hover {
    background-color: #193f62;
    cursor: pointer;
}

.button_sort-o {
    background: #2E73B3;
    border: none;
}

.button_sort-o:hover {
    background-color: #193f62;
    cursor: pointer;
}

.button_sort-down {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.button_sort-down2 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.line {
    width: 100%;
    height: 8px;
    margin-bottom: 16px;
}

.rectangle {
    position: absolute;
    left: 0;
    background-color: #F4CBB9;
    width: 50%;
    height: 56px;
}

.rectangle_blue {
    background-color: #A5CCF1;
}

.rectangle_rounded {
    background-color: #F4CBB9;
    border-radius: 0 56px 56px 0;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
}

.rectangle_rounded_blue {
    background-color: #A5CCF1;
}

.head_back__blue {
    left: 0;
    background-color: #A5CCF1;
    width: 100%;
    height: 56px;
}

.head_back__orange {
    left: 0;
    background-color: #F4CBB9;
    width: 100%;
    height: 56px;
}

.head_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 920px;
    height: 56px;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.head_button_back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #2E73B3;
    border-radius: 2px;
    width: 40px;
    height: 24px;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.head__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #00171F;
}

.entrance {
    color: #DE5114;
    padding-left: 25px;
}

.entrance_blue {
    color: #2E73B3;
}

.entrance:hover {
    cursor: pointer;
    color: #DE5114;
    text-decoration: none;
}

.linkWoBS {
    font-family: sans-serif;
    color: #007bff;
    text-decoration: none;
}

a:visited {
    color: dodgerblue;
    text-decoration: none;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #FFF;
  
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #176FC0;
}

.container {
  
    display: block;
    width: 950px;
    margin: auto;
}

.add_photo {
    border: 1px solid #DE5114;
    margin: 40px 0px;
    width: 160px;
    height: 120px;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.add_photo__circle {
    border: 1px solid #DE5114;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.fa-plus {
    color: #DE5114;
}

.form-center {
    text-align: center;
}

.form_block {
    display: inline-block;
    text-align: left;
}

.form_block_left {
    float: left;
}

.form_block_right {
    float: right;
}

.form_block_width {
    width: 100%;
}

.form-row1 {
    position: relative;
    padding-bottom: 40px;
}

.form-row2 {
    padding-bottom: 80px;
}

.form-row3 {
    padding-bottom: 40px;
}

.form-row4 {
    padding-bottom: 40px;
}

.form-row3:after {
    display: block;
}

.form-row5 {
    padding-bottom: 40px;
}

.form-row6 {
    padding-top: 10px;
    display: block;
}

.submit {
    width: 449px;
    height: 56px;
    display: inline-block;
    font-size: 20px;
    background-color: #DE5114;
    color: #FFF;
    border-radius: 30px;
    border: none;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
