* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #FFF;
  
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #176FC0;
}

.container {
  
    display: block;
    width: 950px;
    margin: auto;
}

.top_first_stripe {
  
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    display: block;
    width: 121px;
  
}

.top_second_stripe {
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.rectangle {
    position: absolute;
    left: 0;
    background-color: #F4CBB9;
    width: 50%;
    height: 56px;
}

.rectangle_rounded {
    background-color: #F4CBB9;
    border-radius: 0 56px 56px 0;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
}

.head__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #00171F;
}

.entrance {
    color: #DE5114;
    padding-left: 25px;
}

.add_photo {
    border: 1px solid #DE5114;
    margin: 40px 0px;
    width: 160px;
    height: 120px;
    border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.add_photo__circle {
    border: 1px solid #DE5114;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.fa-plus {
    color: #DE5114;
}

.label {
    padding-left: 17px;
    line-height: 22px;
    font-size: 17px;
}

.input-field {
    width: 280px;
    height: 56px;
    padding: 0.5em 1.45em 0.7em;
    margin: -3px 0px;
    background: #fff;
    color: #176FC0;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #176FC0;
    border-radius: 28px;
    border-size: 1em;
}

.input-field:hover {
    -webkit-box-shadow: inset 0px 0px 0px rgba(23, 111, 192, 0.4);
    box-shadow: inset 0px 0px 0px rgba(23, 111, 192, 0.4);
}

.input-field:focus {
    color: #176FC0;
    border: 1px solid #176FC0;
    -webkit-box-shadow: inset 0px -5px 5px rgba(23, 111, 192, 0.4);
    box-shadow: inset 0px -5px 5px rgba(23, 111, 192, 0.4);
}

.input-field2 {
    width: 440px;
    height: 56px;
    padding: 0.5em 1.45em 0.7em;
    margin: -3px 0px;
    background: #fff;
    color: #176FC0;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(23, 111, 192, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #176FC0;
    border-radius: 28px;
    border-size: 1em;
}

.form-center {
    text-align: center;
}

.form_block {
    display: inline-block;
    text-align: left;
}

.form_block_left {
    float: left;
}

.form_block_right {
    float: right;
}

.form_block_width {
    width: 100%;
}

.form-row1 {
    padding-bottom: 40px;
}

.form-row2 {
    padding-bottom: 80px;
}

.form-row3 {
    padding-bottom: 40px;
}

.form-row4 {
    padding-bottom: 40px;
}

.form-row5 {
    padding-bottom: 40px;
}

.form-row6 {
    padding-top: 10px;
    display: block;
}

.submit {
    width: 449px;
    height: 56px;
    display: inline-block;
    font-size: 20px;
    background-color: #DE5114;
    color: #FFF;
    border-radius: 30px;
    border: none;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
