.top {
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top_first_stripe {
    height: 64px;
    width: 920px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-;
}

.top_second_stripe {
    height: 56px;
}

.logo {
    display: block;
    width: 121px;
}

.dtMed {
    border: 1px solid #969696;
}

.posabs {
    position: absolute;
    width: 100%;
    height: 56px;
    z-index: -1;
}

.stripe {
    width: 100%;
    height: 56px;
}

.stripe_half {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 56px;
}

.stripe_half_right {
    width: 50%;
    height: 56px;
    margin-right: 0px;
    margin-left: auto;
}

.rounded {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 680px;
    height: 56px;
    border-radius: 0 56px 56px 0;
}

.rounded_green {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0px;
    margin-left: auto;
    width: 680px;
    height: 56px;
    border-radius: 56px 0 0 56px;
}

.bkg_blue {
    background-color: #A5CCF1;
}

.bkg_orange {
    background-color: #F4CBB9;
}

.bkg_green {
    background-color: #91E1CA;
}

.green {
    color: #00A878;
}

.lbl {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.lbl_consult {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 0px;
    margin-left: auto;
    color: #00A878;
}

.find {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #2E73B3;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    width: 280px;
    height: 40px;
}

.find_edit {
    width: 100%;
    border: none;
}

.sort_stripe {
    height: 80px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bl_view {
    width: 64px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_sort_name {
    width: 100px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_sort_last {
    width: 250px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_protect {
    width: 220px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_lbl {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.button_sort {
    background: #FFFFFF;
    border: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button_sort:hover {
    background-color: #193f62;
    cursor: pointer;
}

.button_sort-o {
    background: #2E73B3;
    border: none;
}

.button_sort-o:hover {
    background-color: #193f62;
    cursor: pointer;
}

.button_sort-down {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.button_sort-down2 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.line {
    width: 100%;
    height: 8px;
    margin-bottom: 16px;
}

.rectangle {
    position: absolute;
    left: 0;
    background-color: #F4CBB9;
    width: 50%;
    height: 56px;
}

.rectangle_blue {
    background-color: #A5CCF1;
}

.rectangle_rounded {
    background-color: #F4CBB9;
    border-radius: 0 56px 56px 0;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
}

.rectangle_rounded_blue {
    background-color: #A5CCF1;
}

.head_back__blue {
    left: 0;
    background-color: #A5CCF1;
    width: 100%;
    height: 56px;
}

.head_back__orange {
    left: 0;
    background-color: #F4CBB9;
    width: 100%;
    height: 56px;
}

.head_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 920px;
    height: 56px;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.head_button_back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #2E73B3;
    border-radius: 2px;
    width: 40px;
    height: 24px;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.head__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #00171F;
}

.entrance {
    color: #DE5114;
    padding-left: 25px;
}

.entrance_blue {
    color: #2E73B3;
}

.entrance:hover {
    cursor: pointer;
    color: #DE5114;
    text-decoration: none;
}

.linkWoBS {
    font-family: sans-serif;
    color: #007bff;
    text-decoration: none;
}

a:visited {
    color: dodgerblue;
    text-decoration: none;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #FFF;
  
    font-weight: normal;
    font-size: 16px;
}

.cont {
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 920px;
    margin: auto;
}

.main_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.blocks {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blocks_name {
    width: auto;
    height: 33px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 8px;
    margin-left: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.button_plus_green {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #00A878;
    border: 1px solid #00A878;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 8px;
}

.find_green {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #00A878;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    width: 280px;
    height: 40px;
}

.find_green_edit {
    width: 100%;
    border: none;
}

.block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid #00A878;
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px;
    margin-bottom: 40px;
}

.block_foto {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 110px;
}

.block_pib {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #00171F;
    padding: 10px;
}

.block:hover {
    border: 3px solid #00A878;
}

.small_line {
    width: 100%;
    height: 4px;
    background-color: #00A878;
    margin-bottom: 16px;
}
