.top-panel {
    background: white;
    position: fixed;
    top: 224px;
    width: 240px;
    right: 0px;
    padding: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.message {
    color: #00171F;
    font-weight: 300;
    position: relative;
    padding: 2px;
    margin: 0 auto;
    max-height: 350px;
    overflow: auto;
}

.message h1 {
    color: #fff;
}

.message h2 {
    color: #00171F;
    padding: 10px;
}

.top-panel h2 {
    color: #2E73B3;
    padding: 10px;
}

.open {
    position: absolute;
    clip: rect(0 0 0 0);
    opacity: 0;
}

label.btn {
    content: '<>';
    display: block;
    position: fixed;
    right: 25px;
    top: 230px;
  
    cursor: pointer;
    background: #2E73B3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 41px;
    color: #fff;
    font-size: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 9999;
}

label.btn:hover {
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

label.btn:after {
    text-decoration: inherit;
}

.open:checked ~ .top-panel {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.open:not(:checked) ~ .top-panel {
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.open:checked ~ .top-panel > label.btn {
    background: red;
}

.open:checked ~ .top-panel > label.btn:after {
    font: normal 18px/1 FontAwesome;
}

.bl_online__title {
    display: block;
    color: #00171F;
    height: 60px;
    font-size: 20px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bl_online__elem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 25px;
    font-size: 12px;
    border: 1px solid #2E73B3;
    cursor: pointer;
    margin-bottom: 2px;
    font-family: Montserrat;
    font-color: #00171F;
}

.bl_online__elem:hover {
    background: #E0F0FF;
}

.elem_pib {
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    color: #00171F;
}

.elem_status {
    color: grey;
}

.elem_time-ago {
    color: red;
}

.top {
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top_first_stripe {
    height: 64px;
    width: 920px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-;
}

.top_second_stripe {
    height: 56px;
}

.logo {
    display: block;
    width: 121px;
}

.dtMed {
    border: 1px solid #969696;
}

.posabs {
    position: absolute;
    width: 100%;
    height: 56px;
    z-index: -1;
}

.stripe {
    width: 100%;
    height: 56px;
}

.stripe_half {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 56px;
}

.stripe_half_right {
    width: 50%;
    height: 56px;
    margin-right: 0px;
    margin-left: auto;
}

.rounded {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 680px;
    height: 56px;
    border-radius: 0 56px 56px 0;
}

.rounded_green {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0px;
    margin-left: auto;
    width: 680px;
    height: 56px;
    border-radius: 56px 0 0 56px;
}

.bkg_blue {
    background-color: #A5CCF1;
}

.bkg_orange {
    background-color: #F4CBB9;
}

.bkg_green {
    background-color: #91E1CA;
}

.green {
    color: #00A878;
}

.lbl {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.lbl_consult {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 0px;
    margin-left: auto;
    color: #00A878;
}

.find {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #2E73B3;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    width: 280px;
    height: 40px;
}

.find_edit {
    width: 100%;
    border: none;
}

.sort_stripe {
    height: 80px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bl_view {
    width: 64px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_sort_name {
    width: 100px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_sort_last {
    width: 250px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_protect {
    width: 220px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_lbl {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.button_sort {
    background: #FFFFFF;
    border: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button_sort:hover {
    background-color: #193f62;
    cursor: pointer;
}

.button_sort-o {
    background: #2E73B3;
    border: none;
}

.button_sort-o:hover {
    background-color: #193f62;
    cursor: pointer;
}

.button_sort-down {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.button_sort-down2 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.line {
    width: 100%;
    height: 8px;
    margin-bottom: 16px;
}

.rectangle {
    position: absolute;
    left: 0;
    background-color: #F4CBB9;
    width: 50%;
    height: 56px;
}

.rectangle_blue {
    background-color: #A5CCF1;
}

.rectangle_rounded {
    background-color: #F4CBB9;
    border-radius: 0 56px 56px 0;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
}

.rectangle_rounded_blue {
    background-color: #A5CCF1;
}

.head_back__blue {
    left: 0;
    background-color: #A5CCF1;
    width: 100%;
    height: 56px;
}

.head_back__orange {
    left: 0;
    background-color: #F4CBB9;
    width: 100%;
    height: 56px;
}

.head_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 920px;
    height: 56px;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.head_button_back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #2E73B3;
    border-radius: 2px;
    width: 40px;
    height: 24px;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.head__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #00171F;
}

.entrance {
    color: #DE5114;
    padding-left: 25px;
}

.entrance_blue {
    color: #2E73B3;
}

.entrance:hover {
    cursor: pointer;
    color: #DE5114;
    text-decoration: none;
}

.linkWoBS {
    font-family: sans-serif;
    color: #007bff;
    text-decoration: none;
}

a:visited {
    color: dodgerblue;
    text-decoration: none;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

.tab {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 920px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tab input {
    background-color: #f00;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    -webkit-transition: 2.3s;
    -o-transition: 2.3s;
    transition: 2.3s;
}

.tab button {
    background-color: #f00;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    -webkit-transition: 2.3s;
    -o-transition: 2.3s;
    transition: 2.3s;
}


.tab input:hover {
    background-color: #ddd;
}


.tab input.active {
    background-color: #ccc;
}

.tab button.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
}

.input {
    display: none;
}

.input:checked + label {
    background-color: #E0F0FF;
    border: 1px solid #E0F0FF;
    position: relative;
    z-index: 5;
}

.checked {
    background-color: #E0F0FF;
    border: 1px solid #E0F0FF;
    position: relative;
}

.label {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 11px 20px;
    margin: 0;
    margin-right: -7px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #A5CCF1;
    border-radius: 28px 28px 0 0;
    position: relative;
}

.content {
    position: relative;
}

.content article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E0F0FF;
    padding: 70px 40px;
    border-top: 5px solid #E0F0FF;
    display: none;
}


.dropbtn {
    background-color: #3498DB;
    background-color-color: white;
    background-color-padding: 16px;
    background-color-font-size: 16px;
    background-color-border: none;
    background-color-cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #FFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.person_name {
    display: inline-block;
    margin-left: 20px;
    width: 400px;
    height: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #00171F;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 920px;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #E0F0FF;
    border-radius: 2px;
    padding: 24px;
}

.visit_stripe {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 88px;
}

.visit_label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #00171F;
}

.visit_button_save {
    background: #2E73B3;
    border-radius: 30px;
    border: 1px solid #2E73B3;
    width: 200px;
    height: 56px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px;
}

.block_label14 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    margin-left: 6px;
}

.block_label_16 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4A4D50;
    margin-left: 16px;
}

.block_select {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #2E73B3;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 5px 16px;
}

.block_field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #2E73B3;
    width: 100%;
    height: 136px;
    border-radius: 8px;
    padding: 8px 16px;
}

.block_field__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.block_consult {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 430px;
}

.block_consult__select {
    margin-left: 8px;
    border-radius: 30px;
}

.block_action {
    width: 100%;
    height: 160px;
    background: #FFFFFF;
    border-radius: 8px;
}

.block_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 8px 16px;
}

.block_row__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.block_prescribe {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 468px;
    background: #FFFFFF;
    border-radius: 8px;
}

.block_name {
    width: 560px;
}

.block_name_input {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background: #FFFFFF;
    border: 1px solid #2E73B3;
    border-radius: 30px;
    padding: 0px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
}

.block_type {
    width: 240px;
}

.block_external {
    width: 160px;
}

.block_external_input {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background: #FFFFFF;
    border: 1px solid #2E73B3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    height: 56px;
    padding: 5px 16px;
}

.block_internal {
    width: 160px;
}

.block_internal_input {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background: #FFFFFF;
    border: 1px solid #2E73B3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    height: 56px;
    padding: 5px 16px;
}

.block_line {
    border: 1px solid #2E73B3;
    width: 840px;
    margin: auto;
}

.block_close_episode {
    margin: 40px 0px;
}

.block_close_episode_up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.block_close_episode_button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 1px solid #2E73B3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    width: 449px;
    height: 56px;
    color: #2E73B3;
    cursor: pointer;
}

.mic {
    background: #FFFFFF;
    width: 24px;
    height: 24px;
}

.mic_border {
    border: 1px solid #2E73B3;
}

.button_plus {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #2E73B3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
