.online-patient{
    background: rgb(66, 183, 42);
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin-left: 4px;
    width: 6px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.offline-patient{
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 1rem;
    opacity: 0.5;
}
a:link {
    color:#000;
    text-decoration: none;
}
a:visited {
    color:#000;
}
a:hover {
    color:#33F;
}
.button {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
}
.center {
    padding: 10px;
    text-align: center;
}
.final {
    color: black;
    padding-right: 3px;
}
.final:focus{
    border: none;
    outline: none;
}
.interim {
    color: gray;
}
.info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
}
.right {
    float: right;
}
.sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
}
#headline {
    font-size: 40px;
    font-weight: 300;
}
#info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
}
#results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
}
#start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
}
.center {
    display: block;
    margin: 0 auto;
}
.btn-gradient{
    background: linear-gradient(to bottom, #183da8, #001674);
}
html, body {
    height:100%;
    margin:0;
    padding:0;
}
.container-table {
    display: table;
    width: 100%;
    height:100%;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 35px;
    /*background-color: #384363;*/
    background-color: black;
    /*color: white;*/
    color: blue;
    text-align: center;
}
