  /* Patients online block start */
  #patients_online_block * {
    box-sizing: border-box;
    font-family: serif;
  }

  #patients_online_block {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 55px;
    background-color: #999;
  }

  #patients_online_block #input_query {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
  }

  #patients_online_block #ul_section {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 358px;
  }

  #patients_online_block #ul_section li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    height: 72px;
    display: block
  }

  #patients_online_block #ul_section li a img {
   float:left; 
   margin-right:10px; 
   border-radius: 50%;
 }

 #patients_online_block #ul_section li a span {
   font-weight: bold;
 }

 #patients_online_block #ul_section li a:hover:not(.header) {
  background-color: #eee;
}

#patients_online_block .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

#patients_online_block .active, #patients_online_block .collapsible:hover {
  background-color: #555;
}

#patients_online_block .content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
/* Patients online block end */