.top {
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top_first_stripe {
    height: 64px;
    width: 920px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-;
}

.top_second_stripe {
    height: 56px;
}

.logo {
    display: block;
    width: 121px;
}

.dtMed {
    border: 1px solid #969696;
}

.posabs {
    position: absolute;
    width: 100%;
    height: 56px;
    z-index: -1;
}

.stripe {
    width: 100%;
    height: 56px;
}

.stripe_half {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 56px;
}

.stripe_half_right {
    width: 50%;
    height: 56px;
    margin-right: 0px;
    margin-left: auto;
}

.rounded {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 680px;
    height: 56px;
    border-radius: 0 56px 56px 0;
}

.rounded_green {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0px;
    margin-left: auto;
    width: 680px;
    height: 56px;
    border-radius: 56px 0 0 56px;
}

.bkg_blue {
    background-color: #A5CCF1;
}

.bkg_orange {
    background-color: #F4CBB9;
}

.bkg_green {
    background-color: #91E1CA;
}

.green {
    color: #00A878;
}

.lbl {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.lbl_consult {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 0px;
    margin-left: auto;
    color: #00A878;
}

.find {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #2E73B3;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    width: 280px;
    height: 40px;
}

.find_edit {
    width: 100%;
    border: none;
}

.sort_stripe {
    height: 80px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bl_view {
    width: 64px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_sort_name {
    width: 100px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_sort_last {
    width: 250px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_protect {
    width: 220px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl_lbl {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.button_sort {
    background: #FFFFFF;
    border: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button_sort:hover {
    background-color: #193f62;
    cursor: pointer;
}

.button_sort-o {
    background: #2E73B3;
    border: none;
}

.button_sort-o:hover {
    background-color: #193f62;
    cursor: pointer;
}

.button_sort-down {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.button_sort-down2 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.line {
    width: 100%;
    height: 8px;
    margin-bottom: 16px;
}

.rectangle {
    position: absolute;
    left: 0;
    background-color: #F4CBB9;
    width: 50%;
    height: 56px;
}

.rectangle_blue {
    background-color: #A5CCF1;
}

.rectangle_rounded {
    background-color: #F4CBB9;
    border-radius: 0 56px 56px 0;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
}

.rectangle_rounded_blue {
    background-color: #A5CCF1;
}

.head_back__blue {
    left: 0;
    background-color: #A5CCF1;
    width: 100%;
    height: 56px;
}

.head_back__orange {
    left: 0;
    background-color: #F4CBB9;
    width: 100%;
    height: 56px;
}

.head_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 920px;
    height: 56px;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.head_button_back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #2E73B3;
    border-radius: 2px;
    width: 40px;
    height: 24px;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.head__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #00171F;
}

.entrance {
    color: #DE5114;
    padding-left: 25px;
}

.entrance_blue {
    color: #2E73B3;
}

.entrance:hover {
    cursor: pointer;
    color: #DE5114;
    text-decoration: none;
}

.linkWoBS {
    font-family: sans-serif;
    color: #007bff;
    text-decoration: none;
}

a:visited {
    color: dodgerblue;
    text-decoration: none;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

.top-panel {
    background: white;
    position: fixed;
    top: 224px;
    width: 240px;
    right: 0px;
    padding: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.message {
    color: #00171F;
    font-weight: 300;
    position: relative;
    padding: 2px;
    margin: 0 auto;
    max-height: 350px;
    overflow: auto;
}

.message h1 {
    color: #fff;
}

.message h2 {
    color: #00171F;
    padding: 10px;
}

.top-panel h2 {
    color: #2E73B3;
    padding: 10px;
}

.open {
    position: absolute;
    clip: rect(0 0 0 0);
    opacity: 0;
}

label.btn {
    content: '<>';
    display: block;
    position: fixed;
    right: 25px;
    top: 230px;
  
    cursor: pointer;
    background: #2E73B3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 41px;
    color: #fff;
    font-size: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 9999;
}

label.btn:hover {
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

label.btn:after {
    text-decoration: inherit;
}

.open:checked ~ .top-panel {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.open:not(:checked) ~ .top-panel {
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.open:checked ~ .top-panel > label.btn {
    background: red;
}

.open:checked ~ .top-panel > label.btn:after {
    font: normal 18px/1 FontAwesome;
}

.bl_online__title {
    display: block;
    color: #00171F;
    height: 60px;
    font-size: 20px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bl_online__elem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 25px;
    font-size: 12px;
    border: 1px solid #2E73B3;
    cursor: pointer;
    margin-bottom: 2px;
    font-family: Montserrat;
    font-color: #00171F;
}

.bl_online__elem:hover {
    background: #E0F0FF;
}

.elem_pib {
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    color: #00171F;
}

.elem_status {
    color: grey;
}

.elem_time-ago {
    color: red;
}

#group_w {
    width: 100%;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    background: #FFFFFF;
    border-collapse: collapse;
}

.table td, tr {
    border: 1px solid #A5CCF1;
    color: #000000;
    padding: 8px 16px;
}

#group_w td, tr {
    border: 1px solid #A5CCF1;
    color: #000000;
    padding: 8px 16px;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#group_w tr:hover {
    background-color: #bad3e3;
    cursor: pointer;
}

.table tr:hover {
    background-color: #bad3e3;
    cursor: pointer;
}

#group_w th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2E73B3;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #FFF;
  
    font-weight: normal;
    font-family: sans-serif;
    font-size: 16px;
}

.cont {
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 920px;
    margin: auto;
}

.blocks {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid #2E73B3;
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
}

.block_foto {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 110px;
}

.block_pib {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #00171F;
    padding: 10px;
}

.block:hover {
    border: 3px solid #2E73B3;
}

.block2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    border: 1px solid #2E73B3;
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 25px;
    margin-top: 2px;
}

.block2:hover {
    border: 3px solid #2E73B3;
}

.block2_pib {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #00171F;
    margin: 20px 0px;
}

.block2_diagnose {
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #00171F;
    margin: 20px 0px;
}

.block2_phone {
    -webkit-flex-basis: 15%;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #00171F;
    margin: 20px 0px;
}

.button_plus {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #2E73B3;
    border: 1px solid #2E73B3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 155px;
    margin-right: 20px;
    color: #fff;
    vertical-align: middle;
}

a.lbl:link, a.lbl:visited {
    color: #00A878;
    text-decoration: none;
    cursor: pointer;
}

a.a:link, a.a:visited, a.a:hover, a.a:active {
    color: none;
    text-decoration: none;
    cursor: pointer;
}

a.btnPanel:link, a.btnPanel:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.strs_data {
    display: block;
}

button {
    background-color: #FFF;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
