.block1 {
    width: 90%;
    margin: auto;
    min-height: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #afafaf;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.element {
    background-color: grey;
    border: 2px solid green;
    padding: 10px;
    color: #fff;
    -webkit-flex-basis: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.element3 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: fixed;
}

.element4 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.element:hover {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Bad Script', sans-serif;
}

.item {
    height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #aeaeae;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.item:hover {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}

.item span {
    font-size: 3rem;
    color: red;
    text-shadow: 0px 0px 10px #000;
}

.item-1 {
    background-color: green;
}

.item-2 {
    background: url(../img/logo_blue.png) no-repeat center center;
}

.item-3 {
    background-color: yellow;
}

.item-4 {
    background: url(../img/logo_blue.png) no-repeat center center;
}

@media (max-width: 640px) {
    .slider {
        height: 80vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .item {
        width: 100%;
    }
}

.features {
    border: 1px solid green;
    background-color: #535353;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-blocks {
    border: 1px solid red;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.features-block {
    border: 1px solid grey;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    background-color: white;
    padding: 28px 19px;
    margin-bottom: 20px;
}

.features-block_img {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin-right: 10px;
}

.features-block__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.features-block__descr {
    font-size: 14px;
    font-weight: 400;
}

.numbers {
    border: 1px solid green;
    text-align: center;
}

.numbers-block {
    border: 1px solid green;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.numbers-block__title {
    font-size: 36px;
    font-weight: 900;
    color: red;
}

.numbers-block__text {
    font-size: 16px;
    font-weight: 300;
}

.section-title {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.section-title::after {
    content: '';
    display: block;
    width: 46px;
    height: 6px;
    background: url(../img/Arrow.png) center no-repeat;
}

.products {
    border: 1px solid green;
    padding-top: 57px;
    padding-bottom: 73px;
}

.products-block {
    border: 1px solid green;
    margin-bottom: 35px;
    text-align: center;
}

.products-block__img {
    margin-bottom: 19px;
}

.products-block__title {
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 700;
}

.products-block__button {
    margin-right: 10px;
}

.button {
    font-size: 14px;
    background-color: pink;
    border: 1px solid transparent;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.button:hover {
    background-color: #ff5a77;
    cursor: pointer;
}

.button-o {
    background-color: transparent;
    color: #020202;
    border: 1px solid rgba(55, 55, 55, 0.5);
}

.button-o:hover {
    background-color: #ff5a77;
    color: pink;
    border: 1px solid transparent;
    cursor: pointer;
}

.button img {
    vertical-align: middle;
}

.button_big {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
}
